<div class="mt-dynamic">
    <a href="{{ collection.url }}">
        <div class="aspect-w-1 aspect-h-1">
            <img class="object-cover" src="{% if block.settings.collection_list_image != blank %}{{ block.settings.collection_list_image | img_url: 'master' }}{% elsif block.settings.collection_list_image == blank %}{{ collection.image | img_url: 'master' }}{% endif %}" alt="">
        </div>
        <h3 class="mt-3 body-md font-medium clr-general-text text-center">{% if block.settings.collection_list_custom_title != blank %}{{ block.settings.collection_list_custom_title }}{% elsif block.settings.collection_list_custom_title == blank %}{{ collection.title }}{% endif %}</h3>
    </a>
</div>