
<style>
  #ex2.modal {
    padding: 0;
  }
</style>

<div class="flex justify-center items-center p-0 w-full hidden modal z-50" {%- if settings.exit_popup_enable == true -%} id="ex2" {%- endif -%}>
    <div class="max-w-lg bg-white rounded-md shadow-md text-center relative">
      
      <img src="{{settings.exit_popup_image | | img_url: 'master' }}" alt="Popup_Image">
      
      <div class="p-8">
        <a href="" rel="modal:close">
          <svg class="h-6 w-6 absolute right-0 top-0 mt-3 mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </a>
        
        <div class="pb-6 space-y-4">
          <p class="text-3xl font-serif">{{ settings.exit_popup_title }}</p>
          <p class="text-gray-600">{{ settings.exit_popup_subtitle }}</p>
        {% if settings.mailchimp_popup_link != blank %}

        <form class="flex justify-center space-x-2" action="{{ settings.mailchimp_popup_link }}" method="post" name="mc-embedded-subscribe-form" tags="pop-up" id="contact_form" target="_blank">
          <input type="hidden" name="contact[tags]" value="newsletter">
          <input class="border rounded-md w-full py-3 px-4 shadow-sm" type="email" name="EMAIL" id="Email"
          value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
          placeholder="{{ 'general.popup.email' | t }}"
          autocorrect="off"
          autocapitalize="off">
          <input class="border rounded-md py-3 px-4 bg-black text-white" type="submit" value="{{ 'general.popup.signup' | t }}"  id="Subscribe">
        </form>
        {% else %}  
          {% form 'customer' %}
            {% if form.errors %}
            <div class="text-red-600 rounded-md w-full py-1 px-4 bg-red-100 flex items-center space-x-2 mb-2">
                <span aria-hidden="true" class="text-lg icon icon-alert-circle"></span>
            {{ form.errors | default_errors }}
            </div>
            {% endif %}
            {% if form.posted_successfully? %}
                <p class="text-center text-green-700">{{ 'general.newsletter_form.confirmation' | t }}</p>
            {% else %}
            <div class="flex justify-center space-x-2">
                <input type="hidden" name="contact[tags]" value="pop-up">
                <input class="border rounded-md w-full py-3 px-4 shadow-sm" type="email"
                name="contact[email]"
                id="Email"
                value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
                placeholder="{{ 'general.popup.email' | t }}"
                autocorrect="off"
                autocapitalize="off">
                <input class="border rounded-md py-3 px-4 bg-black text-white" type="submit" value="{{ 'general.popup.signup' | t }}"  id="Subscribe">
              </div>
            {% endif %}
            {% endform %}
            {% endif %}


         
        </div>
      </div>

    </div>
  </div>
