<div class="mb-8 sm:mt-8">
  <h5 class="body-md clr-general-text mb-4">{{ product.vendor }}</h5>
  <h2 class="heading-md font-bold mb-2">{{ product.title }}</h2>
    <div class="flex space-x-3 items-center mb-2">
      <h4 class="body-lg clr-general-links" id="price">{{ product.selected_or_first_available_variant.price | money }}</h4>
      <h4 class="body-lg clr-general-text line-through" id="price">{{ product.compare_at_price_min | money }}</h4>
    </div>
  </div>

  <form method="post" action="/cart/add" id="product_form" data-cart-submit>
    <!-- Variants -->
    {% if product.variants.size > 1 %}
      {% for option in product.options %}
      {% assign option_index = forloop.index0 %}
      {% if product.options[option_index] == 'Color' or product.options[option_index] == 'Colour' %}
      <div class="product_variant_container">
        <div class="mb-4">
          <div><h5 class="body-sm uppercase mb-2 clr-general-text">{{ option }}</h5></div>
          <div class="flex space-x-2">
            {% assign used = '' %}
            {% for variant in product.variants %}
            {% unless used contains variant.options[option_index] %}
            <div class="flex items-center justify-center">
              {% assign variantName = variant.options[option_index] | downcase %}
              {% assign variantColor = variantName | split: ' ' %}
              {% assign variantImg = variantName | split: ' ' | join: '-' | append: '.png' %}

              <label for="{{ option | downcase }}-{{ variant.id }}" class="w-full h-12 flex items-center justify-center cursor-pointer transition-colors ease-in-out rounded-md label" style="z-index: 5;">
                <input class="absolute z-0 appearance-none options" type="radio" name="{{ option | downcase }}" value="{{ variant.options[option_index] }}" data-id="{{ variant.id }}" id="{{ option | downcase }}-{{ variant.id }}" onclick="updateProductInformation()">
                <div onclick="changeRadioValue()" class="option w-full h-full transition-colors ease-in-out rounded-md label" data-variant-option-chosen-value="{{  variant.options[option_index] }}" style="background-color: {{ variantColor }}; background-image: url({{ variantImg | asset_img_url: '100x' }}); background-position: center; background-size: cover;"></div>
              </label>
              {% capture used %}{{ used }} {{ variant.options[option_index] }}{% endcapture %}
            </div>
            {% endunless %}
          {% endfor %}
          </div>
        </div>
      </div>
      {% else %}
      <div class="product_variant_container">
        <div class="mb-4">
          <div><h5 class="body-sm uppercase mb-2 clr-general-text">{{ option }}</h5></div>
          <div class="flex space-x-2">
            {% assign used = '' %}
            {% for variant in product.variants %}
            {% unless used contains variant.options[option_index] %}
            <div class="flex justify-center align-middle items-center text-center relative">
              <input class="absolute z-0 options" type="radio" name="{{ option | downcase }}" value="{{ variant.options[option_index] }}" data-id="{{ variant.id }}" id="{{ option | downcase }}-{{ variant.id }}" onclick="updateProductInformation()">
              <label for="{{ option | downcase }}-{{ variant.id }}" onclick="changeRadioValue()" class="option w-full h-12 flex items-center justify-center bg-white rounded-md cursor-pointer label" style="z-index: 5;">{{ variant.options[option_index] }}</label>
              {% capture used %}{{ used }} {{ variant.options[option_index] }}{% endcapture %}
            </div>
            {% endunless %}
          {% endfor %}
        </div>
        </div>
      </div>
      {% endif %}

      {% if product.options[option_index] == 'Color' or product.options[option_index] == 'Colour' %}
      <style>
        input[name='color']+label {
          border: 1px solid var(--clr-button-secondary-border);
          color: var(--clr-);
      }
        
      input[name='color']:checked+label {
          border: 1px solid var(--clr-general-links);
          color: var(--clr-general-links);
      }

      input[name='color']:focus+label {
          border: 1px solid var(--clr-general-links);
          color: var(--clr-general-links);
          transition: all 150ms ease-out;
          box-shadow: 0 0 0 4px rgb(0 0 0 / 10%);
      }
      </style>
      {% else %}
      <style>
        
        input[name='{{- option | downcase -}}']+label {
            border: 1px solid var(--clr-button-secondary-border);
            color: var(--clr-general-text);
            transition: all 150ms ease-out;
            font-size: var(--body-sm);
        }
          
        input[name='{{- option | downcase -}}']:checked+label {
            border: 1px solid var(--clr-general-links);
            color: var(--clr-general-links);
            
        }
          
        input[name='{{- option | downcase -}}']:focus+label {
            border: 1px solid var(--clr-general-links);
            color: var(--clr-general-links);
            transition: all 150ms ease-out;
            box-shadow: 0 0 0 4px rgb(0 0 0 / 10%);
            
        }

      </style>
      {% endif %}
      <style>
        input[name='{{- option | downcase -}}']:hover+label {
            filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.08));
        }
      </style>

      {% endfor %}
      
    {% endif %}

    <!-- Quantity -->
    <div class="product_variant_container mb-8">
      <label for="quantity"><h3 class="body-sm uppercase mb-2 clr-general-text">{{ 'products.product.quantity' | t }}</h3></label>
      <div class="quantity_input_container">
        <button class="bg-white h-12 w-12 rounded-md" onclick="decrement();addCartUpdate();">
          <span aria-hidden="true" class="icon icon-minus heading-sm"></span>
        </button>
        <input class="h-10 w-8 text-center appearance-none outline" min="1" type="number" id="quantity" name="quantity" onchange="addCartUpdate()" value="1" />
        <button class="bg-white h-12 w-12 rounded-md" onclick="increment();addCartUpdate();">
          <span aria-hidden="true" class="icon icon-plus heading-sm"></span>
        </button>
      </div>
    </div> 

    <!-- Price -->
    <!-- <h2 class="text_blue font_medium product_price" id="product_price">{{ product.selected_or_first_available_variant.price | money }}</h2> -->
    <!-- Add To Cart -->
    <input type="submit" name="add" id="add_to_cart" data-cart-add="{{ product.variants.first.id }}" data-cart-quantity="" class="btn-lg btn-primary w-full py-4 addtocart cursor-pointer" value="{{ 'products.product.add_to_cart' | t }}">
    <!-- Ajax Message -->
    <p class="ajax_message"></p>
  </form>
  <div class="mt-8">
    <p class="body-md clr-general-text">{{ product.description }}</p>
</div>

