<div class="product-form">
    <div class="tile__reviews items-center block sm:flex">
        <div class="flex">
            {% if settings.shopify_star == true %}
            <span class="shopify-product-reviews-badge flex" data-id="{{ product.id }}"></span>
            {% endif %}
            <div class="yotpo bottomLine {%- if settings.yotpo_star != true -%} flex {% elsif settings.yotpo_star == false %} hidden {%- endif -%}" data-product-id="{{ product.id }}">
                {%- assign yotpo_offload_content = shop.metafields.yotpo.yotpo_offload_content %}
                {%- assign time_now = 'now' | date: '%s' %}
                {%- assign yotpo_live_time = shop.metafields.yotpo.yotpo_live | date: '%s' %}
                {%- assign diff_seconds_from_live = time_now | minus: yotpo_live_time %}
                {%- assign yotpo_bottomline_last_updated = product.metafields.yotpo.catalog_bottomline_update_time | date: '%s' %}
                {%- assign diff_seconds_from_last_bottomline_update = time_now | minus: yotpo_bottomline_last_updated %}

                {%- if yotpo_live_time and diff_seconds_from_live < 86400 or yotpo_bottomline_last_updated and diff_seconds_from_last_bottomline_update < 86400 -%}
                    {%- assign yotpo_bottomline_obsolete = false %}
                {%- else %}
                    {%- assign yotpo_bottomline_obsolete = true %}
                {%- endif %}
                {%- if yotpo_offload_content == 'yes' and yotpo_bottomline_obsolete != true -%}
                    {{ product.metafields.yotpo.catalog_bottomline }}
                {%- endif %}
            </div>
        </div>
    </div>
    <h2 class="product-form__title">{{ product.title }}</h2>
    {% if section.settings.vendor_activate == true %}<h5 class="product-form__vendor">By <a href="{{ routes.collections_url }}/vendors?q={{ product.vendor }}">{{ product.vendor }}</a></h5>{% endif %}
    <div class="product-form__price-elements">
        <div class="product-form__badges">
            {% if product.available == true %}
                <span class="product-form__save flex" id="savePercent">{{ 'products.product.save' | t }} {{ product.variants[0].compare_at_price | minus: product.price | times: 100.0 | divided_by: product.variants[0].compare_at_price | money_without_currency | times: 100 | remove: '.0'}}%</span>
            {% elsif product.available == false %}
                <div class="product-form__sold-out" id="soldOut">{{ 'products.product.sold_out' | t }}</div>
            {% endif %}
        </div>
        <h4 class="product-form__compare-price" id="compare_price">{{ product.variants[0].compare_at_price | money }}</h4>
        <h4 class="product-form__price" id="price">{{ product.price | money }}</h4>
    </div>

    <!-- Timer -->
    {% for tags_string in product.tags %}
        {% assign timer_end_date = tags_string | join: ', ' %}
        {% if timer_end_date contains 'timer_' %}
            {% assign timer_end_date = timer_end_date | remove: 'timer_' | replace: '-', ', ' | replace: '_', ' ' %}
            {% render 'product-timer', end_date: timer_end_date %}
        {% endif %}
    {% endfor %}

    <!-- Stock -->
    {% if section.settings.stock_activate == true %}
        {% if product.variants.first.available == true %}
            <div class="product-stock">
                <span class="product-stock__icon icon icon-check-circle"></span>
                <p class="product-stock__text" id="SKU">
                    <span id="inventory">{{ product.variants.first.inventory_quantity }}</span> in stock, ready to be shipped. 
                </p>
            </div>
        {% endif %}
    {% endif %}

    {% if section.settings.product_description == 'above_addtocart' %}
        <p class="product-form__description product-form__description--above">{{ product.description }}</p>
    {% endif %}

    <!-- data-cart-submit -->
    {% form 'product', product, id: 'product_form' %}
    <!-- Variants -->
    {% if product.variants.size > 1 %}
        {% for option in product.options %}
        {% assign option_index = forloop.index0 %}
            {% if product.options[option_index] == 'Color' or product.options[option_index] == 'Colour' %}
                <div class="product-option">
                    <!-- <div class="mb-4"> -->
                        <legend><h5 class="product-option__title">{{ option }}: <span id="legendSpan"></span></h5></legend>
                        <div class="product-option__container">
                            {% assign used = '' %}
                            {% for variant in product.variants %}
                                {% unless used contains variant.options[option_index] %}
                                    <div class="product-option__swatch">
                                        {% assign variantName = variant.options[option_index] | downcase %}
                                        {% assign variantColor = variantName | split: ' ' %}
                                        {% assign variantImg = variantName | split: ' ' | join: '-' | append: '.png' %}
                                        <label class="product-option__label" for="{{ option | downcase }}-{{ variant.id }}" value="{{ variant.options[option_index] }}" style="z-index: 5;">
                                            <input class="product-option__input" type="radio" name="{{ option | downcase }}" value="{{ variant.options[option_index] }}" data-id="{{ variant.id }}" id="{{ option | downcase }}-{{ variant.id }}" onclick="updateProductInformation();getCheckedValue(event, this.value)">
                                            <div class="product-option__btn product-option__btn--color" onclick="changeRadioValue()" data_variant_option_chosen_value="{{  variant.options[option_index] }}" style="background-color: {{ variantColor }}; background-image: url({{ variantImg | asset_img_url: '100x' }}); background-position: center; background-size: cover;"></div>
                                        </label>
                                        {% capture used %}{{ used }} {{ variant.options[option_index] }}{% endcapture %}
                                    </div>
                                {% endunless %}
                            {% endfor %}
                        </div>
                    <!-- </div> -->
                </div>  
            {% else %}
                <div class="product-option">
                    <!-- <div class="mb-4"> -->
                        <legend><h5 class="product-option__title">{{ option }}: <span id="legendSpan"></span></h5></legend>
                        <div class="product-option__container">
                            {% assign used = '' %}
                            {% for variant in product.variants %}
                                {% unless used contains variant.options[option_index] %}
                                    <div class="product-option__swatch">
                                        <input class="product-option__input" type="radio" name="{{ option | downcase }}" value="{{ variant.options[option_index] }}" data-id="{{ variant.id }}" id="{{ option | downcase }}-{{ variant.id }}" onclick="updateProductInformation();getCheckedValue(event, this.value)">
                                        <label class="product-option__btn product-option__btn--default" for="{{ option | downcase }}-{{ variant.id }}" onclick="changeRadioValue()" data_variant_option_chosen_value="{{  variant.options[option_index] }}" style="z-index: 5;">{{ variant.options[option_index] }}</label>
                                        {% capture used %}{{ used }} {{ variant.options[option_index] }}{% endcapture %}
                                    </div>
                                {% endunless %}
                            {% endfor %}
                        </div>
                    <!-- </div> --> 
                </div>
            {% endif %}

            {% if product.options[option_index] == 'Color' or product.options[option_index] == 'Colour' %}
                <style>
                    input[name='color']+div {
                    border: 1px solid var(--clr-button-secondary-border);
                    color: var(--clr-);
                    }
                    
                    input[name='color']:checked+div {
                        border: 1px solid var(--clr-general-links);
                        color: var(--clr-general-links);
                    }

                    input[name='color']:focus+div {
                        border: 1px solid var(--clr-general-links);
                        color: var(--clr-general-links);
                        transition: all 150ms ease-out;
                        box-shadow: 0 0 0 4px rgb(0 0 0 / 10%);
                    }
                </style>
            {% else %}
                <style>
                    input[name='{{- option | downcase -}}']+label {
                        border: 1px solid var(--clr-button-secondary-border);
                        color: var(--clr-general-text);
                        transition: all 150ms ease-out;
                        font-size: var(--body-sm);
                    }
                    
                    input[name='{{- option | downcase -}}']:checked+label {
                        border: 1px solid var(--clr-general-links);
                        color: var(--clr-general-links);
                    }
                    
                    input[name='{{- option | downcase -}}']:focus+label {
                        border: 1px solid var(--clr-general-links);
                        color: var(--clr-general-links);
                        transition: all 150ms ease-out;
                        box-shadow: 0 0 0 4px rgb(0 0 0 / 10%);
                    }
                </style>
            {% endif %}

            <style>
            input[name='{{- option | downcase -}}']:hover+label {
                filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.08));
            }
            </style>

        {% endfor %}
    {% endif %}

        <!-- Delivery info -->
        <!-- <div class="product-form__delivery flex">
            <span class="icon icon-truck"></span>
            <p>Lorem ipsum dolor asimet</p>
        </div> -->

        <!-- Quantity -->
        <div class="product-option">
            <label for="quantity">
                <h3 class="product-option__title">{{ 'products.product.quantity' | t }}</h3>
            </label>
            <div class="product-option__container">
                <button class="product-option__quantity-btn" onclick="decrement(event);addCartUpdate(event);">
                    <span aria-hidden="true" class="icon icon-minus"></span>
                </button>
                <input class="product-option__quantity-input" min="1" type="number" id="quantity" name="quantity" onchange="addCartUpdate(event)" value="1" />
                <button class="product-option__quantity-btn" onclick="increment(event);addCartUpdate(event);">
                    <span aria-hidden="true" class="icon icon-plus"></span>
                </button>
            </div>
        </div> 
    

    <!-- Add To Cart -->
    <input class="product-form__btn-addtocart addtocart {% if section.settings.dynamic_button == false %} btn-primary {% elsif section.settings.dynamic_button == true %} btn-secondary {% endif %}" type="submit" name="add" id="add_to_cart" data-cart-add="{{ product.variants.first.id }}" data-cart-quantity="" value="{{ 'products.product.add_to_cart' | t }}">
    {% if section.settings.dynamic_button == true %}<input class="product-form__btn-checkout addtocart" id="checkout" value="Buy it now" type="button">{% endif %}
    {% endform %}

    <!-- Proof payments -->
    {% render 'proof-payments' %}
    {% render 'proof-badges' %} 

    <!-- Proof badges -->
    <!-- <div class="proof-badges">
        {% for block in section.blocks %}
            <div class="proof-badges__block">
                <span class="proof-badges__icon icon icon-truck"></span>
                <p class="proof-badges__text">Lorem ipsum dolor asimet</p>
            </div>            
        {% endfor %}
    </div> -->
    {% if section.settings.product_description == 'below_addtocart' %}
        <p class="product-form__description product-form__description--below">{{ product.description }}</p>
    {% endif %}
</div>

