<div class="account">
  <div class="account__header">
    <h1 class="account__heading">{{ 'customer.account.title' | t }}</h1>
    <div class="account__logout">
      <a class="account__logout-helper" href="/account/logout">
        <p class="account__logout-text">{{ 'layout.customer.log_out' | t }}</p>
        <span aria-hidden="true" class="icon icon-log-out"></span>
      </a>
    </div>
  </div>

  <div class="account__content">
    <div class="account__order-history">
      <h2 class="account__subtitle">{{ 'customer.orders.title' | t }}</h2>
      {% paginate customer.orders by 20 %}
        {% if customer.orders.size != 0 %}
          <div class="account__order-box"><!-- Start of Order history box -->
            <div class="account__order-box-titles">
              <p class="account__title-order">{{ 'customer.orders.order_number' | t }}</p>
              <p class="account__title-date">{{ 'customer.orders.date' | t }}</p>
              <p class="account__title-paymentstatus">{{ 'customer.orders.payment_status' | t }}</p>
              <p class="account__title-fulfilment">{{ 'customer.orders.fulfillment_status' | t }}</p>
              <p class="account__title-total">{{ 'customer.orders.total' | t }}</p>
            </div>

              {% for order in customer.orders %}
                <div class="account__order-content">
                  <div class="account__order-title-mobile">
                    <p class="account__title-order-mobile">{{ 'customer.orders.order_number' | t }}</p>
                    <p class="account__title-date-mobile">{{ 'customer.orders.date' | t }}</p>
                    <p class="account__title-paymentstatus-mobile">{{ 'customer.orders.payment_status' | t }}</p>
                    <p class="account__title-fulfilment-mobile">{{ 'customer.orders.fulfillment_status' | t }}</p>
                    <p class="account__title-total-mobile">{{ 'customer.orders.total' | t }}</p>
                  </div>
                  <div class="account__order-info">
                    <p class="account__order-name">{{ order.name | link_to: order.customer_url }}</p>
                    <p class="account__order-created_at">{{ order.created_at | date: format: 'month_day_year' }}</p>
                    <p class="account__order-financial_status">{{ order.financial_status_label }}</p>
                    <p class="account__order-fulfillment_status">{{ order.fulfillment_status_label }}</p>
                    <p class="account__order-total_price">{{ order.total_price | money }}</p>
                  </div>
                </div>
              {% endfor %}
            
          </div><!-- End of Order history box -->
        {% else %}
          <p class="account__orders-text-none">{{ 'customer.orders.none' | t }}</p>
        {% endif %}

        {% if paginate.pages > 1 %}
        <div class="account__pagination">
          {% include 'pagination' %}       
        </div>   
        {% endif %}

      {% endpaginate %}        

    </div>
    <div class="account__addresses">
      <h2 class="account__addresses-title">{{ 'customer.account.details' | t }}</h2>
      <div class="account__addresses-box">
       {% if customer.addresses_count > 0 %}
        <div class="account__addresses-content">
          {{ customer.default_address | format_address }}
        </div>
        {% endif %}
        <div class="account__addresses-link">
          <a  href="/account/addresses">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>
        </div>
      </div>
    </div>
  </div>
</div>