<!-- /templates/customers/activate_account.liquid -->
<div class="activate_acc">
  <div class="activate_acc__header">
    <h1 class="activate_acc__heading">{{ 'customer.activate_account.title' | t }}</h1>
    <p class="activate_acc__text">{{ 'customer.activate_account.subtext' | t }}</p>
  </div>
  {% form 'activate_customer_password' %}

    <div class="activate_acc__content">
      {% if form.errors %}
        <div class="activate_acc__error">
          <span aria-hidden="true" class="icon icon-alert-circle"></span>
          {{ form.errors | default_errors }}
        </div>
    {% endif %}
      <div class="activate_acc__form">
        <div class="activate_acc__password">
          <label class="hidden" for="password">{{ 'customer.activate_account.password' | t }}</label>
          <input class="activate_acc__input" placeholder="{{ 'customer.activate_account.password' | t }}" type="password" name="customer[password]" />
        </div>
        <div class="activate_acc__password-confirm">
          <label class="hidden" for="password_confirmation">{{ 'customer.activate_account.password_confirm' | t }}</label>
          <input class="activate_acc__input" placeholder="{{ 'customer.activate_account.password_confirm' | t }}" type="password" name="customer[password_confirmation]" />
        </div>
      </div>
      <div class="activate_acc__action-buttons">
        <input class="activate_acc__btn-primary" type="submit" value="{{ 'customer.activate_account.submit' | t }}" />
        <input class="activate_acc__btn-secondary" type="submit" name="decline" value="{{ 'customer.activate_account.cancel' | t }}" />
      </div>
    </div>

  {% endform %}
</div>
  