<div class="addresses">
    <div class="addresses__header">
        <h1 class="addresses__heading">{{ 'customer.addresses.title' | t }}</h1>
        <div class="addresses__header-helper">
            <div class="addresses__helper-first-item">
                <a href="/account">{{ 'customer.account.return' | t }}</a>
            </div>
            <div class="addresses__helper-second-item" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">
                <a href="#">{{ 'customer.addresses.add_new' | t }}</a>
            </div>
        </div>
    </div>

    {% form 'customer_address', customer.new_address %}
        <div class="addresses__form-backround" id="AddAddress" {% unless form.errors %} style="display:none;" {% endunless %}>
            <div class="addresses__form-box">
                <div class="addresses__form-header">
                    <h2 class="addresses__form-heading">{{ 'customer.addresses.add_new' | t }}</h2>
                    <div class="addresses__form-close" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">
                        <span aria-hidden="true" class="icon icon-x"></span>
                    </div>
                </div>
                {% if form.errors %}
                    <div class="addresses__error">
                        <span aria-hidden="true" class="icon icon-alert-circle"></span>
                        {{ form.errors | default_errors }}
                    </div>
                {% endif %}
                <div class="addresses__form">
                    <div class="addresses__form-field">
                        <label class="addresses__form-label" for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
                        <input class="addresses__form-input" type="text" id="AddressFirstNameNew"   name="address[first_name]" value="{{ form.first_name }}" autocapitalize="words">
                    </div>
                    <div class="addresses__form-field">
                        <label class="addresses__form-label" for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
                        <input class="addresses__form-input" type="text" id="AddressLastNameNew"   name="address[last_name]" value="{{ form.last_name }}" autocapitalize="words">
                    </div>
                    <div class="addresses__form-field">
                        <label class="addresses__form-label" for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
                        <input class="addresses__form-input" type="text" id="AddressCompanyNew"   name="address[company]" value="{{ form.company }}" autocapitalize="words">
                    </div>
                    <div class="addresses__form-field">
                        <label class="addresses__form-label" for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
                        <input class="addresses__form-input" type="text" id="AddressAddress1New"   name="address[address1]" value="{{ form.address1 }}" autocapitalize="words">
                    </div>
                    <div class="addresses__form-field">
                        <label class="addresses__form-label" for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
                        <input class="addresses__form-input" type="text" id=" AddressAddress2New" class=" input-full" name=" address[address2]" value=" {{ form.address2 }} " autocapitalize=" words">
                    </div>
                    <div class="addresses__form-field">
                        <label class="addresses__form-label" for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
                        <input class="addresses__form-input" type="text" id="AddressCityNew"   name="address[city]" value="{{ form.city }}" autocapitalize="words">
                    </div>
                    <div class="addresses__form-field-country">
                        <label class="addresses__form-label" for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
                        <select class="addresses__form-input" id="AddressCountryNew"   name="address[country]" data-default="{{ form.country }}">{{ country_option_tags }}</select>
                        <span for="AddressCountryNew"  aria-hidden="true" class="icon icon-chevron-down" id="AddressCountryNew"></span>
                    </div>

                    <div class="addresses__form-field-province" id="AddressProvinceContainerNew" style="display:none">
                        <label class="addresses__form-label" for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
                        <select class="addresses__form-input" id="AddressProvinceNew"   name="address[province]" data-default="{{ form.province }}"></select>
                        <span for="AddressProvinceNew"  aria-hidden="true" class="icon icon-chevron-down" id="AddressCountryNew"></span>
                    </div>

                    <div class="addresses__form-field">
                        <label class="addresses__form-label" for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
                        <input class="addresses__form-input" type="text" id="AddressZipNew"   name="address[zip]" value="{{ form.zip }}" autocapitalize="characters">
                    </div>
                    <div class="addresses__form-field">
                        <label class="addresses__form-label" for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
                        <input class="addresses__form-input" type="tel" id="AddressPhoneNew"   name="address[phone]" value="{{ form.phone }}">
                    </div>

                </div>
                <div class="addresses__form-helper">
                    <div class="addresses__form-helper-first">
                        <p class="addresses__form-helper-checkbox">
                            {{ form.set_as_default_checkbox }}
                            <label for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
                        </p>
                    </div>
                    <div class="addresses__form-helper-second">
                        <a class="addresses__form-helper-close" href="#" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">{{ 'customer.addresses.cancel' | t }}</a>
                        <input class="addresses__form-helper-btn" type="submit" value="{{ 'customer.addresses.add' | t }}">
                    </div>
                </div>
            </div>
        </div>
    {% endform %}

    <h2 class="addresses__default-title {% if customer.addresses == blank %} addresses__default-title-blank {% endif %}">
        {{ 'customer.addresses.default' | t }}
    </h2>
    <div class="addresses__adress-info">
        {% if customer.addresses_count == 0 %}
        <div class="addresses__box-message">
            <p>{{ 'customer.addresses.you_currently_dont_have_an_address' | t }}</p>
        {% endif %}
        {% for address in customer.addresses %}
            <div class="{% if address == customer.default_address %} addresses__default-box {% endif %}">
                <div class="addresses__box" data-address>
                    <div class="addresses__box-content">
                        <div class="addresses__box-content-adresslist">
                            {{ address.first_name | capitalize }}
                            {{ address.last_name | capitalize }}
                            {% if address.company != blank %}
                                <br>
                            {% endif %}
                            {{ address.company }}<br>
                            {{ address.street }}<br>
                            {{ address.city | capitalize }}<br>
                            {% if address.province_code %}
                                {{ address.province_code | upcase }}<br>
                            {% endif %}
                            {{ address.zip | upcase }}<br>
                            {{ address.country }}<br>
                            {{ address.phone }}
                        </div>
                        <div class="addresses__box-content-helper">
                            <p class="addresses__delete" href="">{{ 'customer.addresses.delete' | t | delete_customer_address_link: address.id }}</p>
                            <p class="addresses__edit" href="">
                                {{ 'customer.addresses.edit' | t | edit_customer_address_link: address.id }}
                            </p>
                        </div>
                    </div>
                </div>

                {% form 'customer_address', address %}

                    <div class="addresses__form-backround" id="EditAddress_{{ address.id }}" {% unless form.errors %} style="display:none;" {% endunless %}>
                        <div class="addresses__form-box">
                            <div class="addresses__form-header">
                                <h2 class="addresses__form-heading">{{ 'customer.addresses.edit_address' | t }}</h2>
                                <div class="addresses__form-close" onclick="Shopify.CustomerAddress.toggleForm({{ form.id }}); return false;">
                                    <span aria-hidden="true" class="icon icon-x"></span>
                                </div>
                            </div>
                            {% if form.errors %}
                                <div class="addresses__error">
                                    <span aria-hidden="true" class="text-lg flex-shrink-0 icon icon-alert-circle"></span>
                                    {{ form.errors | default_errors }}
                                </div>
                            {% endif %}

                            <div class="addresses__form">

                                <div class="addresses__form-field">
                                    <label class="addresses__form-label" for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
                                    <input type="text" id="AddressFirstName_{{ form.id }}" class="addresses__form-input" name="address[first_name]" value="{{ form.first_name }}" autocapitalize="words">
                                </div>
                                <div class="addresses__form-field">
                                    <label class="addresses__form-label" for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
                                    <input type="text" id="AddressLastName_{{ form.id }}" class="addresses__form-input" name="address[last_name]" value="{{ form.last_name }}" autocapitalize="words">
                                </div>
                                <div class="addresses__form-field">
                                    <label class="addresses__form-label" for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
                                    <input type="text" id="AddressCompany_{{ form.id }}" class="addresses__form-input" name="address[company]" value="{{ form.company }}" autocapitalize="words">
                                </div>
                                <div class="addresses__form-field">
                                    <label class="addresses__form-label" for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>
                                    <input type="text" id="AddressAddress1_{{ form.id }}" class="addresses__form-input" name="address[address1]" value="{{ form.address1 }}" autocapitalize="words">
                                </div>
                                <div class="addresses__form-field">
                                    <label class="addresses__form-label" for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>
                                    <input type="text" id="AddressAddress2_{{ form.id }}" class="addresses__form-input" name="address[address2]" value="{{ form.address2 }}" autocapitalize="words">
                                </div>
                                <div class="addresses__form-field">
                                    <label class="addresses__form-label" for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
                                    <input type="text" id="AddressCity_{{ form.id }}" class="addresses__form-input" name="address[city]" value="{{ form.city }}" autocapitalize="words">
                                </div>
                                <div class="addresses__form-field-country">
                                    <label class="addresses__form-label" for="AddressCountry_{{ form.id }}">{{ 'customer.addresses.country' | t }}</label>
                                    <select id="AddressCountry_{{ form.id }}" class="addresses__form-input" name="address[country]" data-default="{{ form.country }}">{{ country_option_tags }}</select>
                                    <span for="AddressCountryNew"  aria-hidden="true" class="icon icon-chevron-down" id="AddressCountryNew"></span>
                                </div>
                                <div class="addresses__form-field-province" id="AddressProvinceContainer_{{ form.id }}" style="display:none">
                                    <label class="addresses__form-label" for="AddressProvince_{{ form.id }}">{{ 'customer.addresses.province' | t }}</label>
                                    <select id="AddressProvince_{{ form.id }}" class="addresses__form-input" name="address[province]" data-default="{{ form.province }}"></select>
                                    <span for="AddressProvince_{{ form.id }}"  aria-hidden="true" class="icon icon-chevron-down" id="AddressCountryNew"></span>
                                </div>

                                <div class="addresses__form-field">
                                    <label class="addresses__form-label" for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
                                    <input type="text" id="AddressZip_{{ form.id }}" class="addresses__form-input" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters">
                                </div>
                                <div class="addresses__form-field">
                                    <label class="addresses__form-label" for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
                                    <input type="tel" id="AddressPhone_{{ form.id }}" class="addresses__form-input" name="address[phone]" value="{{ form.phone }}">
                                </div>
                            </div>

                            <div class="addresses__form-helper">
                                <div class="addresses__form-helper-first">
                                    <p class="addresses__form-helper-checkbox">
                                        {{ form.set_as_default_checkbox }}
                                        <label for="address_default_address_{{ form.id }}">{{ 'customer.addresses.set_default' | t }}</label>
                                    </p>
                                </div>
                                <div class="addresses__form-helper-second">
                                    <a class="addresses__form-helper-close" href="#" onclick="Shopify.CustomerAddress.toggleForm({{ form.id }}); return false;">{{ 'customer.addresses.cancel' | t }}</a>
                                    <input class="addresses__form-helper-btn" type="submit" value="{{ 'customer.addresses.update' | t }}">
                                </div>
                            </div>

                        </div>
                    </div>
                {% endform %}

            </div>

        {% endfor %}
    </div>


</div>


<script>
    // Initialize observers on address selectors
    new Shopify.CountryProvinceSelector("AddressCountryNew", "AddressProvinceNew", {hideElement: "AddressProvinceContainerNew"});

    // Setup province selector on each customer address
    {% paginate customer.addresses by 5 %}
        {% for address in customer.addresses %}
            new Shopify.CountryProvinceSelector("AddressCountry_{{ address.id }}", "AddressProvince_{{ address.id }}", {hideElement: "AddressProvinceContainer_{{ address.id }}"});{% endfor %}{% endpaginate %}

    // Modified contents of customer_area.js (global asset)
    Shopify.CustomerAddress = {
        toggleForm: function (id) {
            var editEl = document.getElementById("EditAddress_" + id);
            editEl.style.display = editEl.style.display == "none"
                ? ""
                : "none";
            return false;
        },

        toggleNewForm: function () {
            var el = document.getElementById("AddAddress");
            el.style.display = el.style.display == "none"
                ? ""
                : "none";
            return false;
        },

        destroy: function (id, confirm_msg) {
            if (confirm(confirm_msg || "Are you sure you wish to delete this address?")) {
                Shopify.postLink("/account/addresses/" + id, {
                    "parameters": {
                        "_method": "delete"
                    }
                });
            }
        }
    }
</script>