<!-- /templates/customers/login.liquid -->

<div class="login" id="loginForm">
    <div class="login__header">
        <h1 class="login__heading">{{ 'customer.login.title' | t }}</h1>
    </div>
<div class="login__content"> 
    {%- form 'customer_login' -%} 
    {% if form.errors %}
    <div class="login__error">
        <span aria-hidden="true" class="icon icon-alert-circle"></span>
        {{ form.errors | default_errors }}
    </div>
    {% endif %}
        <div class="login__form"> 
            <div class="login__form__input--first">
                <label class="hidden" for="customerEmail">Email Address</label>
                <input class="login__input" placeholder="{{ 'customer.login.email' | t }}" type="email" name="customer[email]" id="customerEmail" autocorrect="off" autocapitalize="off" autocomplete="email">
            </div>
            <div class="login__form__input--second">
                <label class="hidden" for="customerPassword">Password</label>
                <input class="login__input" type="password" placeholder="{{ 'customer.login.password' | t }}" name="customer[password]" id="customerPassword">
            </div>
        </div>

        <button class="login__btn" type="submit" value="Sign In">{{ 'customer.login.sign_in' | t }}</button>
        <div class="login__form-action-row--helper">
            <span class="login__form-action-row--helper-item">{{ 'customer.login.new_customer' | t }}{{ 'Create Account' | customer_register_link }}</span>
            <span class="login__form-action-row--helper-item-link" id="clickResetPass">{{ 'customer.login.forgot_password' | t }}</span>
        </div>
    {%- endform -%}
</div>

<!-- If accounts are set as optional, the following will be shown as an option when coming from checkout, not on the default /login page. -->
{%- if shop.checkout.guest_login -%}
{%- form 'guest_login' -%}
    <input type="submit" value="Continue as Guest" />
{%- endform -%}
{%- endif -%}
</div>


<!-- Use JavaScript to show/hide this form -->
<div id="resetPass" class="resetpass hidden">
    <div class="login__header">
        <h1 class="login__heading">{{ 'customer.login.title' | t }}</h1>
    </div>
    <div class="resetpass__content">
        {%- form 'recover_customer_password', id: 'resetPassForm' -%}
    
        <div class="resetpass__recover" id="recover">
            <h2 class="resetpass__recover-title">{{ 'customer.recover_password.title' | t }}</h2>
            <p class="resetpass__recover-subtext">{{ 'customer.recover_password.subtext' | t }}</p>

            {% if form.posted_successfully? %}
            <div class="resetpass__success" id="status">
                <span aria-hidden="true" class="text-lg flex-shrink-0 icon icon-check-circle"></span>
                <p class="resetpass__text--success">{{ 'customer.recover_password.success' | t }}</p>
            </div>
        {% endif %}

        {% if form.errors %}
            <div class="resetpass__error">
                <span aria-hidden="true" class="icon icon-alert-circle"></span>
                {{ form.errors | default_errors }}
            </div>
        {% endif %}

        <div class="resetpass__form">
            <label class="hidden" for="customerEmail">Email Address</label>
            <input placeholder="{{ 'customer.recover_password.email' | t }}" class="resetpass__input" type="email" name="email" id="customerEmail" autocorrect="off" autocapitalize="off" autocomplete="email">
        </div>
            <div class="resetpass__action">
                <input class="resetpass__btn" id="submit" type="submit" value="{{ 'customer.recover_password.submit' | t }}"></input>
                <input class="resetpass__btn-cancel" id="cancel" type="button" value="{{ 'customer.recover_password.cancel' | t }}"></input>
            </div>
        </div>

    {% endform %}
</div>
        
</div>



<script>

$( "#resetPassForm" ).on( "submit", function(e) {
 
 var dataString = $(this).serialize();
  
 // alert(dataString); return false;

 $.ajax({
   type: "POST",
   url: "bin/process.php",
   data: dataString,
   success: function () {
     $("#contact_form").html("<div id='message'></div>");
     $("#message")
       .html("<h2>Contact Form Submitted!</h2>")
       .append("<p>We will be in touch soon.</p>")
       .hide()
       .fadeIn(1500, function () {
         $("#message").append(
           "<img id='checkmark' src='images/check.png' />"
         );
       });
   }
 });

 e.preventDefault();
});
});

</script>