<div class="order">
  <div class="order__header">
    <h1 class="order__heading">{{ 'customer.account.title' | t }}</h1>
    <div class="order__header-helper">
      <a href="/account">
        {{ 'customer.account.return' | t }}
      </a>
    </div>
  </div>

  <div class="order__grid">
    <div class="order__grid-content">
      <div class="order__grid-content-header">
        <h3 class="order__grid-content-heading">{{ 'customer.order.title' | t: name: order.name }}</h3>
        <p class="order__grid-content-date">{{ 'customer.order.date' | t: date: order.created_at | date: "%B %d, %Y %I:%M%p" }}</p>
      </div>
      <div class="order__history-box"><!-- Start of Order history box -->
        <div class="order__history-box-titles">
          <p class="order__product">{{ 'customer.order.product' | t }}</p>
          <p class="order__sku">{{ 'customer.order.sku' | t }}</p>
          <p class="order__price">{{ 'customer.order.price' | t }}</p>
          <p class="order__quantity">{{ 'customer.order.quantity' | t }}</p>
          <p class="order__total">{{ 'customer.order.total' | t }}</p>
        </div>
        {% for line_item in order.line_items %}
          <div class="order__history-box-border">
            <div class="order__history-box-mobile">
              <div class="order__history-box-mobile-titles">
                <p class="order__product-mobile">{{ 'customer.order.product' | t }}</p>
                <p class="order__sku-mobile">{{ 'customer.order.sku' | t }}</p>
                <p class="order__price-mobile">{{ 'customer.order.price' | t }}</p>
                <p class="order__quantity-mobile">{{ 'customer.order.quantity' | t }}</p>
                <p class="order__total-mobile">{{ 'customer.order.total' | t }}</p>
              </div>
              <div class="order__history-box-items">
                <p class="order__item-title">{{ line_item.title | link_to: line_item.product.url }}</p>
                <p class="order__item-sku">{{ line_item.sku }}&nbsp;</p>
                <p class="order__item-price">{{ line_item.price | money }}</p>
                <p class="order__item-quantity">{{ line_item.quantity }}</p>
                <p class="order__item-quantity-price">{{ line_item.quantity | times: line_item.price | money }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
        
        <div class="order__summary-grid">
          <div class="order__summary-content">
            <div class="order__summary-border">
              <div class="order__summary-items">
                <p class="order__summary-title">{{ 'customer.order.subtotal' | t }}</p>
                <p class="order__summary-info">{{ order.line_items_subtotal_price | money }}</p>
              </div>

              {% for discount in order.discounts %}
              <div class="order__summary-items">
                <p class="order__summary-title">{{ discount.code }} {{ 'customer.order.discount' | t }}</p>
                <p class="order__summary-info">{{ discount.savings | money }}</p>
              </div>
              {% endfor %}

              {% for shipping_method in order.shipping_methods %}
              <div class="order__summary-items">
                <p class="order__summary-title">{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})</p>
                <p class="order__summary-info">{{ shipping_method.price | money }}</p>
              </div>
              {% endfor %}

              {% for tax_line in order.tax_lines %}
              <div class="order__summary-items">
                <p class="order__summary-title">{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</p>
                <p class="order__summary-info">{{ tax_line.price | money }}</p>
              </div>
              {% endfor %}
            </div>
            <div class="order__summary-items-totalprice">
              <p class="order__summary-title-totalprice">{{ 'customer.order.total' | t }}</p>
              <p class="order__summary-info-totalprice">{{ order.total_price | money }}</p>
            </div>
          </div>
        </div>
        
      </div><!-- End of Order history box -->
    </div>

    <div class="order__addresses">
      <div class="order__billig-addresses">
        <div class="order__billing-addresses-header">
          <h3>{{ 'customer.order.billing_address' | t }}</h3>
        </div>
        <div class="order__billing-addresses-box">
          <div class="order__payment-status">
            <p>{{ 'customer.order.payment_status' | t }}{{ order.financial_status_label }}</p>
          </div>
          {{ order.billing_address | format_address }}
        </div>
      </div>
      <div class="order__shipping-addresses">
        <div class="order__shipping-addresses-header">
          <h3>{{ 'customer.order.shipping_address' | t }}</h3>
        </div>
        <div class="order__shipping-addresses-box">
          <div class="order__fulfillment-status">
            <p>{{ 'customer.order.fulfillment_status' | t }}{{ order.fulfillment_status_label }}</p>
          </div>
          {{ order.shipping_address | format_address }}
        </div>
      </div>
    </div>

  </div>
  <div>
</div>
