<!-- /templates/customers/register.liquid -->
<div class="register">
    <div class="register__header">
        <h1 class="register__heading">{{ 'customer.register.title' | t }}</h1>
    </div>
    
    {% form 'create_customer' %}
        <div class="register__content">
            {% if form.errors %}
                <div class="register__error">
                    <span aria-hidden="true" class="icon icon-alert-circle"></span>
                    {{ form.errors | default_errors }}
            {% endif %}
                <div class="register__form"> 
                    <label class="hidden" for="first_name">{{ 'customer.register.first_name' | t }}</label>
                    <input placeholder="{{ 'customer.register.first_name' | t }}" class="register__input" type="text" value="" name="customer[first_name]" size="30" />

                    <label class="hidden" for="last_name">{{ 'customer.register.last_name' | t }}</label>
                    <input placeholder="{{ 'customer.register.last_name' | t }}" class="register__input" type="text" value="" name="customer[last_name]" size="30" />

                    <label class="hidden" for="email">{{ 'customer.register.email' | t }}</label>
                    <input placeholder="{{ 'customer.register.email' | t }}" class="register__input" type="email" value="" name="customer[email]" size="30" />

                    <label class="hidden" for="password">{{ 'customer.register.password' | t }}</label>
                    <input placeholder="{{ 'customer.register.password' | t }}" class="register__input" type="password" value="" name="customer[password]" size="30" />
                </div>
                <input class="register__btn" type="submit" value="{{ 'customer.register.submit' | t }}" />
                <div class="register__form-action--helper">
                    <p class="register__form-action--helper-item">{{ 'customer.register.already_a_member' | t }}<a class="register__form-action--helper-item-link" href="/account/login"> {{ 'customer.register.sign_in' | t }}</a> </p>
                </div>
            </div>
    {% endform %}
</div>