
<div class="form-reset-password px-4 md:px-0 max-w-md mx-auto py-32 space-y-12">
  {% form 'reset_customer_password' %}
<div class="mb-4">
    <h1 class="text-center heading-md clr-general-headings">{{ 'customer.reset_password.title' | t }}</h1>
    <p class="text-center body-md clr-general-text">{{ 'customer.reset_password.subtext' | t: email: email }}</p>
  </div>
  {% if form.errors %}
  <div class="text-red-600 rounded-md text-sm w-full py-2 px-4 bg-red-100 flex items-center space-x-2 mb-2">
    <span aria-hidden="true" class="text-lg flex-shrink-0 icon icon-alert-circle"></span>
{{ form.errors | default_errors }}
</div>
{% endif %}
<div class="space-y-2 mb-4">
  <div>
    <label for="ResetPassword" class="hidden">
      {{ 'customer.reset_password.password' | t }}
    </label> 
    <input type="password"
      name="customer[password]"
      id="ResetPassword"
      class="input appearance-none {% if form.errors contains 'password' %}input-error{% endif %}"
      placeholder="{{ 'customer.reset_password.password' | t }}">
    </div>
    <div>
    <label for="PasswordConfirmation" class="hidden">
      {{ 'customer.reset_password.password_confirm' | t }}
    </label>
    <input type="password"
      name="customer[password_confirmation]"
      id="PasswordConfirmation"
      class="input appearance-none {% if form.errors contains 'password_confirmation' %}input-error{% endif %}"
      placeholder="{{ 'customer.reset_password.password_confirm' | t }}">
    </div>
    </div>

    <input type="submit" class="cursor-pointer appearance-none btn-lg btn-primary w-full" value="{{ 'customer.reset_password.submit' | t }}">
      {% endform %}
</div>