{% if section.settings.announcement_activate == true %} 
    <section class="announcement">
        {% if section.settings.announcement_text != blank or section.settings.announcement_link_text != blank %}
            <a class="announcement--link" href="{{ section.settings.announcement_link_url }}"></a>
            <div class="announcement__content">
                <p class="announcement__text">{{ section.settings.announcement_text }}</p>
                {% if section.settings.announcement_link_text != blank %}
                    <a class="announcement__link" href="{{ section.settings.announcement_link_url }}">{{ section.settings.announcement_link_text }}</a>
                {% endif %}
            </div>
        {% endif %}
    </section> 
{% endif %}

<style>
  #shopify-section-{{ section.id }} .announcement {
    background-color: {{ section.settings.clr_announcement_background }};
  }
  #shopify-section-{{ section.id }} .announcement__text {
    color: {{ section.settings.clr_announcement_text }};
  }
  #shopify-section-{{ section.id }} .announcement__link {
    color: {{ section.settings.clr_announcement_link }};
  }
</style>


{% schema %}
{
  "name": "Announcement",
  "settings": [
    {
        "type": "checkbox",
        "id": "announcement_activate",
        "label": "Activate announcement",
        "default": true
    },
    {
      "type": "textarea",
      "id": "announcement_text",
      "label": "Text",
      "default": "It's default announcement text"
    },
    {
      "type": "text",
      "id": "announcement_link_text",
      "label": "Link text",
      "info": "If you don't want a link, leave the field blank."
    },
    {
      "type": "url",
      "id": "announcement_link_url",
      "label": "Link URL"
    },
    {
      "type": "color",
      "id": "clr_announcement_background",
      "label": "Background color",
      "default": "#222222"
    },
    {
      "type": "color",
      "id": "clr_announcement_text",
      "label": "Text color",
      "default": "#ffffff"
    },
    {
        "type": "color",
        "id": "clr_announcement_link",
        "label": "Link color",
        "default": "#ffffff"
    }
  ]
}
{% endschema %}