{%- assign new_comment = false -%}
{%- assign number_of_comments = article.comments_count -%}

{%- if comment and comment.created_at -%}
  {%- assign new_comment = true -%}
  {%- assign new_comment_id = comment.id -%}
{%- endif -%}

{%- if new_comment -%}
  {%- comment -%}
    When you refresh the page with submitted comment, the comment is duplicated
    so we added a flag to avoid this situation.
  {%- endcomment -%}
  {%- assign duplicate_comment = false -%}
  {%- for comment in article.comments -%}
    {%- if comment.id == new_comment_id -%}
      {%- assign duplicate_comment = true -%}
      {%- break -%}
    {%- endif -%}
  {%- endfor -%}

  {%- unless duplicate_comment -%}
    {%- assign number_of_comments = article.comments_count | plus: 1 -%}
  {%- endunless -%}
{%- endif -%}

<article class="article">
    <header class="article__header">
        <div class="article__image" style="background-image:url('{{ article.image.src | img_url: '2048x2048' }}');"></div>
        <div class="article__header-content">
            <div class="article__meta">
                {%- if section.settings.blog_show_date -%}
                        <span class="article__date">{{ article.published_at | time_tag: format: 'month_day_year' }}</span>
                {%- endif -%}
                {%- if section.settings.blog_show_author -%}
                        <span class="article__author{% if section.settings.blog_show_date == true %} article__author-border{% endif %}">{{ article.author }}</span>
                {%- endif -%}
            </div>
            <h1 class="article__title">{{ article.title }}</h1>
        </div>
    </header>
    <div class="article__inner">
        <div class="article__content">
            {{ article.content }}
        </div>
        {% if section.settings.blog_show_tags %}
        {% if article.tags.size > 0 %}
        <div class="article__tags">
          <div class="article__static">
            <span class="article__tags-icon icon icon-tag"></span>
            <span class="article__tags-title">{{ 'blogs.article.filed_in' | t }}</span>
          </div>
            {%- for tag in article.tags -%}
                <a class="article__tags-link" href="{{ blog.url }}/tagged/{{ tag | handle }}">
                    {{ tag }}
                </a>
            {%- endfor -%}
        </div>
        {% endif %}
        {% endif %}
        <div class="{% if section.settings.blog_show_social_icon == false %} article__helper {% endif %} ">
            {% if section.settings.blog_show_social_icon %}
                <div class="article__social-sharing">
                  <div class="article__static"> 
                    <span class="article__share icon icon-share-2"></span>
                    <span class="article__text">{{ 'blogs.article.share_this' | t }}</span>
                  </div>
                  <div class="article__list">
                    {% if settings.social_accounts_facebook != blank %}
                      <a target="_blank" class="article__icon icon icon-facebook" href="//www.facebook.com/sharer.php?u={{ shop.domain }}{{ article.url }}" title="{{ article.title | truncate: 30 | url_escape }}"></a>
                    {% endif %}
                    {% if settings.social_accounts_pinterest != blank %}
                      <a target="_blank" class="article__icon icon icon-pinterest" href="//pinterest.com/pin/create/button/?url={{ shop.domain }}{{ article.url }}&amp;media={{ article.image | img_url: '1024x1024' }}&amp;description={{ article.title }}"></a>
                    {% endif %}
                    {% if settings.social_accounts_twitter != blank %}
                      <a target="_blank" class="article__icon icon icon-twitter" href="https://twitter.com/intent/tweet?text={{ title | replace: '&','%26' }}&url={{ shop.domain }}{{ article.url }}"></a>
                    {% endif %}
                  </div>
                </div>
            {% endif %}
            {% if blog.next_article or blog.previous_article %}
                <div class="article__pagination">
                    {% if blog.previous_article %}
                        <div class="article__pagination-prev"> 
                            <a href="{{ blog.previous_article }}">
                                <div class="article__pagination-helper-first">
                                    <span aria-hidden="true" class="article__pagination-chevron-left icon icon-chevron-left"></span>
                                    <span class="article__pagination-text">{{ 'blogs.article.older_post' | t }}</span>
                                </div>
                                <p class="article__pagination-title-prev"> {{ blog.previous_article.title }}</p>
                            </a>
                        </div>
                    {% endif %}
                    {% if blog.next_article %}
                        <div class="article__pagination-next">
                            <a href="{{ blog.next_article }}">
                                <div class="article__pagination-helper-second">
                                    <span aria-hidden="true" class="article__pagination-chevron-right icon icon-chevron-right"></span>
                                    <span class="article__pagination-text"> {{ 'blogs.article.newer_post' | t }}</span>
                                </div>
                                <p class="article__pagination-title-next">{{ blog.next_article.title }}</p>
                            </a>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            <div class="article__comments">
              {% if blog.comments_enabled? %}
              {% if article.comments_count > 0 %}
                <h3 class="article__comments-title">{{ 'blogs.comments.title_comments' | t }}</h3>
              {% endif %}
              {% paginate article.comments by 5 %}
                <div class="article__comments-box" id="comments">
                  {% if comment and comment.status and comment.id != blank and paginate.current_page == 1 %}
                    <div class="form-success">
                      {% if blog.moderated? and comment.status != 'published' %}
                        <div class="article__success">
                          <span aria-hidden="true" class="icon icon-check-circle"></span>
                          {{ 'blogs.comments.success_moderated' | t }}
                        </div>
                      {% else %}
                        <div class="article__success">
                          <span aria-hidden="true" class="icon icon-check-circle"></span>
                          {{ 'blogs.comments.success' | t }}
                        </div>
                      {% endif %}
                    </div>
                  {% endif %}
                  {% if number_of_comments > 0 %}
                    <ul>
                      {% comment %}
                      Display comment from URL parameters if it is waiting moderation
                      We added "comment.id" check to make sure we don't display markup if there are form errors
                      {% endcomment %}
                      {% if comment and comment.status != 'published' and comment.id != blank %}
                        <li class="article__comments-items" id="{{ comment.id }}">
                          <div class="article__comments-meta">
                            <p class="article__comments-author">
                              {{ 'blogs.article.comment_meta_html' | t: author: comment.author }}<span class="article__comments-divide">-</span><span class="article__comments-date">{{ comment.created_at | time_tag: format: 'month_day_year' }}</span>
                            </p>
                          </div>
                          <div class="article__comments-content">
                            {{ comment.content }}
                          </div>
                        </li>
                      {% endif %}
                      {% for comment in article.comments %}
                      <li class="article__comments-items" id="{{ comment.id }}">
                        <div class="article__comments-meta">
                          <p class="article__comments-author">
                            {{ 'blogs.article.comment_meta_html' | t: author: comment.author }}<span class="article__comments-divide">-</span><span class="article__comments-date">{{ comment.created_at | time_tag: format: 'month_day_year' }}</span>
                          </p>
                        </div>
                        <div class="article__comments-content">
                          {{ comment.content }}
                        </div>
                      </li>
                      {% endfor %}
                    </ul>
                  {% if paginate.pages > 1 %}
                  {% include 'pagination' %}
                  {% endif %}
                  {% endif %}
                </div>
                {% endpaginate %}
                {% form 'new_comment', article %}
                <h3 class="{% if blog.moderated? %} article__comments-title-mzero {% else %} article__comments-title {% endif %} ">{{ 'blogs.comments.title' | t }}</h3>
                {% if blog.moderated? %}
                <p class="article__comments-moderated">{{ 'blogs.comments.moderated' | t }}</p>
                {% endif %}
                {% if form.errors %}
                <div class="article__error">
                  <span aria-hidden="true" class="icon icon-alert-circle"></span>
                  {{ form.errors | default_errors }}
                </div>
                {% endif %}
                <div class="article__form">
                  <div class="article__form-first-input">
                    <label class="hidden"  for="CommentAuthor" class="label-hidden">
                      {{ 'blogs.comments.name' | t }}
                    </label>
                    <input type="text" name="comment[author]" id="CommentAuthor" class="article__input {% if form.errors contains 'author' %}input-error{% endif %}" placeholder="{{ 'blogs.comments.name' | t }}" value="{{ form.author }}" autocapitalize="words">
                  </div>
                  <div class="article__form-second-input">
                    <label class="hidden" for="CommentEmail" class="label-hidden">
                      {{ 'blogs.comments.email' | t }}
                    </label>
                    <input type="email" name="comment[email]" id="CommentEmail" class="article__input {% if form.errors contains 'email' %}input-error{% endif %}" placeholder="{{ 'blogs.comments.email' | t }}" value="{{ form.email }}" spellcheck="false" autocomplete="off" autocapitalize="off">
                  </div>
                </div>
                <label class="hidden" for="CommentBody" class="label-hidden">
                  {{ 'blogs.comments.message' | t }}
                </label>
                <textarea name="comment[body]" id="CommentBody" class="article__textarea{% if form.errors contains 'body' %}input-error{% endif %}" placeholder="{{ 'blogs.comments.message' | t }}"> {{- form.body -}}
                </textarea>
                <div class="article__form-required">
                  <span>{{ 'blogs.comments.required_field' | t }}</span>
                </div>
                <input type="submit" class="article__form-btn" value="{{ 'blogs.comments.post' | t }}">
                {% endform %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  


  {% schema %}
  {
    "name": "Posts",
    "settings": [
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_tags",
        "label": "Show tags",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_social_icon",
        "label": "Show social icons",
        "default": true
      }
    ]
  }
  {% endschema %}