{%- assign new_comment = false -%}
{%- assign number_of_comments = article.comments_count -%}

{%- if comment and comment.created_at -%}
  {%- assign new_comment = true -%}
  {%- assign new_comment_id = comment.id -%}
{%- endif -%}

{%- if new_comment -%}
  {%- comment -%}
    When you refresh the page with submitted comment, the comment is duplicated
    so we added a flag to avoid this situation.
  {%- endcomment -%}
  {%- assign duplicate_comment = false -%}
  {%- for comment in article.comments -%}
    {%- if comment.id == new_comment_id -%}
      {%- assign duplicate_comment = true -%}
      {%- break -%}
    {%- endif -%}
  {%- endfor -%}

  {%- unless duplicate_comment -%}
    {%- assign number_of_comments = article.comments_count | plus: 1 -%}
  {%- endunless -%}
{%- endif -%}

<article>
    <header class="m-0 p-0">
        <div class="bg-cover h-96 w-full bg-center mb-8" style="background-image:url('{{ article.image.src | img_url: '2048x2048' }}');"></div>
        <div class="mx-auto max-w-screen-sm 2xl:px-0 px-4 pb-8">
            <div class="flex space-x-2">
                {%- if section.settings.blog_show_date -%}
                        <span class="clr-general-light-text body-sm leading-none">{{ article.published_at | time_tag: format: 'month_day_year' }}</span>
                {%- endif -%}
                {%- if section.settings.blog_show_author -%}
                        <span class="clr-general-light-text body-sm {% if section.settings.blog_show_date == true %} border-1 pl-2 {% endif %} leading-none">{{ article.author }}</span>
                {%- endif -%}
            </div>
            <h1 class="heading-md clr-general-headings mt-2">{{ article.title }}</h1>
    </header>
    <div class="mx-auto max-w-screen-sm 2xl:px-0 px-4 pb-12 md:pb-16 break-words">
        <div class="body-md clr-general-text">
            {{ article.content }}
        </div>
        {% if section.settings.blog_show_tags %}
        <div class="flex space-x-2 mt-8">
          <span class="body-sm clr-general-text">{{ 'blogs.article.filed_in' | t }}</span>
          <ul aria-label="Tags">
            {%- for tag in article.tags -%}
            <li class="body-sm clr-general-light-text">
                <a href="{{ blog.url }}/tagged/{{ tag | handle }}">
                    {{ tag }}
                </a>
            </li>
            {%- endfor -%}
        </ul>
        </div>
        {% endif %}
        <div class="{% if section.settings.blog_show_social_icon == false %} mt-16 {% endif %} ">
            {% if section.settings.blog_show_social_icon %}
                <div class="py-12 md:py-16 space-y-2">
                    <span class="clr-general-light-text body-sm">{{ 'blogs.article.share_this' | t }}</span>
                    <div class="flex items-center space-x-2">
                        <a target="_blank" class="flex items-center" href="//www.facebook.com/sharer.php?u={{ shop.domain }}{{ article.url }}" title="{{ article.title | truncate: 30 | url_escape }}">
                            <span aria-hidden="true" class="text-2xl icon icon-facebook"></span>
                        </a>
                        <a target="_blank" class="flex items-center" href="//pinterest.com/pin/create/button/?url={{ shop.domain }}{{ article.url }}&amp;media={{ article.image | img_url: '1024x1024' }}&amp;description={{ article.title }}">
                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z" /></svg>
                        </a>
                        <a target="_blank" class="flex items-center" href="https://twitter.com/intent/tweet?text={{ title | replace: '&','%26' }}&url={{ shop.domain }}{{ article.url }}">
                            <span aria-hidden="true" class="text-2xl icon icon-twitter"></span>
                        </a>
                    </div>
                </div>
            {% endif %}
            {% if blog.next_article or blog.previous_article %}
                <div class="flex">
                    {% if blog.previous_article %}
                        <div class="flex w-full justify-start"> 
                            <a class="space-y-2 " href="{{ blog.previous_article }}">
                                <div class="flex items-center space-x-1 text-base">
                                    <span aria-hidden="true" class="text-lg icon icon-chevron-left"></span>
                                    <span class="body-md clr-general-links m-0 px-1">{{ 'blogs.article.older_post' | t }}</span>
                                </div>
                                <p class="body-sm clr-general-light-text max-w-xs hidden md:block italic"> {{ blog.previous_article.title }}</p>
                            </a>
                        </div>
                    {% endif %}
                    {% if blog.next_article %}
                        <div class="flex w-full justify-end">
                            <a class="space-y-2" href="{{ blog.next_article }}">
                                <div class="flex items-center flex-row-reverse space-x-1 text-base">
                                    <span aria-hidden="true" class="text-lg icon icon-chevron-right"></span>
                                    <span class="body-md clr-general-links m-0 px-1"> {{ 'blogs.article.newer_post' | t }}</span>
                                </div>
                                <p class="body-sm clr-general-light-text text-right max-w-xs hidden md:block italic">{{ blog.next_article.title }}</p>
                            </a>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            <div class="mt-12">
              {% if blog.comments_enabled? %}
              {% if article.comments_count > 0 %}
                <h3 class="heading-md clr-general-headings mb-4">{{ 'blogs.comments.title_comments' | t }}</h3>
              {% endif %}
              {% paginate article.comments by 5 %}
                <div class="mb-12" id="comments">
                  {% if comment and comment.status and comment.id != blank and paginate.current_page == 1 %}
                    <div class="form-success">
                      {% if blog.moderated? and comment.status != 'published' %}
                        <div class="text-green-600 rounded-md w-full py-1 px-4 bg-green-100 flex items-center space-x-2 mb-2">
                          <span aria-hidden="true" class="text-lg icon mr-2 icon-alert-circle"></span>
                          {{ 'blogs.comments.success_moderated' | t }}
                        </div>
                      {% else %}
                        <div class="text-green-600 rounded-md w-full px-4 bg-green-100 flex items-center space-x-2 mb-2">
                          <span aria-hidden="true" class="text-lg icon mr-2 icon-alert-circle"></span>
                          {{ 'blogs.comments.success' | t }}
                        </div>
                      {% endif %}
                    </div>
                  {% endif %}
                  {% if number_of_comments > 0 %}
                    <ul class="space-y-8">
                      {% comment %}
                      Display comment from URL parameters if it is waiting moderation
                      We added "comment.id" check to make sure we don't display markup if there are form errors
                      {% endcomment %}
                      {% if comment and comment.status != 'published' and comment.id != blank %}
                        <li id="{{ comment.id }}">
                          <div class="flex items-center space-x-2 leading-tight">
                            <p class="clr-general-headings heading-sm mb-1 talic">
                              {{ 'blogs.article.comment_meta_html' | t: author: comment.author }}<span class="clr-general-light-text mx-2 body-sm not-italic">-</span><span class="clr-general-light-text body-sm not-italic">{{ comment.created_at | time_tag: format: 'month_day_year' }}</span>
                            </p>
                          </div>
                          <div class="rte body-md clr-general-text">
                            {{ comment.content }}
                          </div>
                        </li>
                      {% endif %}
                      {% for comment in article.comments %}
                      <li id="{{ comment.id }}">
                        <div class="flex items-center space-x-2 leading-tight">
                          <p class="clr-general-headings heading-sm mb-1 italic">
                            {{ 'blogs.article.comment_meta_html' | t: author: comment.author }}<span class="clr-general-light-text mx-2 body-sm not-italic">-</span><span class="clr-general-light-text body-sm not-italic">{{ comment.created_at | time_tag: format: 'month_day_year' }}</span>
                          </p>
                        </div>
                        <div class="rte body-md clr-general-text">
                          {{ comment.content }}
                        </div>
                      </li>
                      {% endfor %}
                    </ul>
                  {% if paginate.pages > 1 %}
                  {% include 'pagination' %}
                  {% endif %}
                  {% endif %}
                </div>
                {% endpaginate %}
                {% form 'new_comment', article %}
                <h3 class="heading-md clr-general-headings">{{ 'blogs.comments.title' | t }}</h3>
                {% if blog.moderated? %}
                <p class="body-md clr-general-text mb-6 mt-2 italic">{{ 'blogs.comments.moderated' | t }}</p>
                {% endif %}
                {% if form.errors %}
                <div class="text-red-600 rounded-md w-full py-1 px-4 bg-red-100 flex items-center space-x-2 mb-2">
                  <span aria-hidden="true" class="text-lg icon icon-alert-circle"></span>
                  {{ form.errors | default_errors }}
                </div>
                {% endif %}
                <div class="flex space-x-4 mb-4 leading-none">
                  <div class="w-full">
                    <label class="hidden"  for="CommentAuthor" class="label-hidden">
                      {{ 'blogs.comments.name' | t }}
                    </label>
                    <input type="text" name="comment[author]" id="CommentAuthor" class="input appearance-none {% if form.errors contains 'author' %}input-error{% endif %}" placeholder="{{ 'blogs.comments.name' | t }}" value="{{ form.author }}" autocapitalize="words">
                  </div>
                  <div class="w-full">
                    <label class="hidden" for="CommentEmail" class="label-hidden">
                      {{ 'blogs.comments.email' | t }}
                    </label>
                    <input type="email" name="comment[email]" id="CommentEmail" class="input appearance-none {% if form.errors contains 'email' %}input-error{% endif %}" placeholder="{{ 'blogs.comments.email' | t }}" value="{{ form.email }}" spellcheck="false" autocomplete="off" autocapitalize="off">
                  </div>
                </div>
                <label class="hidden" for="CommentBody" class="label-hidden">
                  {{ 'blogs.comments.message' | t }}
                </label>
                <textarea name="comment[body]" id="CommentBody" class="textarea appearance-none {% if form.errors contains 'body' %}input-error{% endif %}" placeholder="{{ 'blogs.comments.message' | t }}"> {{- form.body -}}
                </textarea>
                <div class="leading-none mt-2">
                  <span class="leading-none clr-general-light-text body-sm">{{ 'blogs.comments.required_field' | t }}</span>
                </div>
                <input type="submit" class="appearance-none btn-lg btn-primary mt-6" value="{{ 'blogs.comments.post' | t }}">
                {% endform %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  

<style>

.border-1 {
        border-left: 1px solid {{ settings.clr_general_light_text }};
    }
</style>



  {% schema %}
  {
    "name": "Posts",
    "settings": [
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_tags",
        "label": "Show tags",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_social_icon",
        "label": "Show social icons",
        "default": true
      }
    ]
  }
  {% endschema %}