{% assign blog_per_row = section.settings.blog_per_row %}

<section class="max-width mx-auto py-12 lg:py-16">
    <div class="text-center mb-6 lg:mb-8 space-y-3 lg:space-y-4 lg:w-128 mx-auto">
        <h1 class="heading-sm clr-general-headings">{{ section.settings.blog_heading | escape }}</h1>
        <p class="body-md clr-general-text">{{ section.settings.blog_subheading | escape }}</p>
    </div>
    {%- assign blog = blogs[section.settings.blog] -%}
    {%- if blog.articles_count > 0 -%}
        <div class="main-carousel mb-6 lg:mb-8 md:grid sm:grid-cols-2 md:grid-cols-2 md:gap-5 block
            {% if section.settings.blog_posts == 2 %}
                lg:grid-cols-2
            {% elsif section.settings.blog_posts == 3 %}
                lg:grid-cols-3
            {% elsif section.settings.blog_posts == 4 %}
                lg:grid-cols-4
            {% elsif section.settings.blog_posts == 5 %}
                lg:grid-cols-5
            {% endif %}" data-flickity='{ "cellAlign": "left", "contain": true, "watchCSS": true, "prevNextButtons": false, "pageDots": false }'>
            {%- for article in blog.articles limit: section.settings.blog_posts -%}
                <div class="carousel-cell">
                    <div class="border">
                        {%- if article.image -%}
                            <div class="aspect-h-3 aspect-w-6">
                                <a class="aspect-h-3 aspect-w-6" href="{{ article.url }}">
                                    <img class="object-cover" src="{{ article | img_url: 'master' }}" alt="{{ article.title }}">
                                </a>
                            </div>
                        {%- endif -%}
                        <div class="p-4">
                            <div class="flex space-x-2">
                                {%- if section.settings.blog_date -%}
                                        <span class="clr-general-light-text leading-none body-sm">{{ article.published_at | time_tag: format: 'month_day_year' }}</span>
                                {%- endif -%}
                                {%- if section.settings.blog_author -%}
                                        <span class="clr-general-light-text leading-none body-sm border-1 pl-2">{{ article.author }}</span>
                                {%- endif -%}
                            </div>
                            <a href="{{ article.url }}">
                                <h2 class="heading-xs clr-general-headings my-3">{{ article.title }}</h2>
                            </a>
                            {%- if article.excerpt.size > 0 -%}
                                {{ article.excerpt }}
                            {%- else -%}
                                <p class="body-md clr-general-text mb-3">
                                    {{ article.content | strip_html | truncate: 150 }}
                                </p>
                            {%- endif -%}
                            <a class="clr-general-links flex" href="{{ article.url }}" aria-label="Read more: {{ article.title }}">{{ 'blogs.article.read_more' | t }}<span aria-hidden="true" class="text-xl self-center icon icon-chevron-right"></span></a>
                        </div> 
                    </div>
                </div>   
            {%- endfor -%}
        </div>
        {%- if section.settings.blog_link_activate == true -%}
        <div class="text-center">
            <a href="{{ blog.url }}"class="clr-general-links self-center" aria-label="{{ 'blogs.article.see_more' | t }}"> {{ 'blogs.article.see_more' | t }} </a>
        </div>
    {%- endif -%}
    {%- endif -%}
  </section>


  
<style>

    #shopify-section-{{ section.id }} .main-carousel:after {
        content: 'flickity';
        display: none;
    }
    #shopify-section-{{ section.id }} .carousel-cell {
        width: 100%;
    }

    @media screen and ( min-width: 768px ) {
        #shopify-section-{{ section.id }} .main-carousel:after {
            content: '';
        }
    }
    
    @media screen and ( max-width: 768px ) {
        #shopify-section-{{ section.id }} .carousel-cell {
            width: 70%;
            padding-left: 12px;
        }
        #shopify-section-{{ section.id }} .carousel-cell:first-child {
            padding: 0 !important;
        }
    }
    
    .border-1 {
        border-left: 1px solid {{ settings.clr_general_light_text }};
    }

</style>
    

{% schema %}
{
    "name": "Blog posts",
    "settings": [
        {
            "type": "text",
            "id": "blog_heading",
            "label": "Heading" 
        },
        {
            "type": "text",
            "id": "blog_subheading",
            "label": "Subheading"
        },
        {
            "type": "blog",
            "id": "blog",
            "label": "Blog"
        },
        {
            "type": "checkbox",
            "id": "blog_date",
            "label": "Show date",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "blog_author",
            "label": "Show author",
            "default": true
        },
        {
            "type": "range",
            "id": "blog_posts",
            "label": "Posts",
            "min": 2,
            "max": 4,
            "step": 1,
            "default": 2
        },
        {
            "type": "checkbox",
            "id": "blog_link_activate",
            "label": "Activate link",
            "default": true
        }
    ],
    "presets": [
        {
        "name": "Blog posts",
        "category": "Blog"
        }
    ]
}
{% endschema %}