{% assign blog_per_row = section.settings.blog_per_row %}

<section class="blog">
    <div class="blog__header">
        <h1 class="blog__heading">{{ section.settings.blog_heading | escape }}</h1>
        <p class="blog__text">{{ section.settings.blog_subheading | escape }}</p>
    </div>
    {%- assign blog = blogs[section.settings.blog] -%}
    {%- if blog.articles_count > 0 -%}
    <div class="blog__content">
        <div class="blog__carousel main-carousel
        {% if section.settings.blog_posts == 2 %}
            blog__carousel--cols-2
        {% elsif section.settings.blog_posts == 3 %}
            blog__carousel--cols-3
        {% elsif section.settings.blog_posts == 4 %}
            blog__carousel--cols-4
        {% elsif section.settings.blog_posts == 5 %}
            blog__carousel--cols-5
        {% endif %}" data-flickity='{ "cellAlign": "left", "contain": true, "watchCSS": true, "prevNextButtons": false, "pageDots": false }'>
            {%- for article in blog.articles limit: section.settings.blog_posts -%}
            <div class="blog__card carousel-cell">
                {%- if article.image -%}
                <div class="blog__wrapper-image aspect-h-3 aspect-w-6">
                    <a class="aspect-h-3 aspect-w-6" href="{{ article.url }}">
                        <img class="blog__image" src="{{ article | img_url: 'master' }}" alt="{{ article.title }}">
                    </a>
                </div>
                {%- else -%}
                  <div class="blog__wrapper-image aspect-h-3 aspect-w-6">
                     {{ 'collection-6' | placeholder_svg_tag: 'svg-placeholder-opacity w-full' }}
                   </div>
                {% endif %}
                <div class="blog__wrapper-text">
                    <div class="blog__date-author">
                        {%- if section.settings.blog_date -%}
                        <span class="blog__date">{{ article.published_at | time_tag: format: 'month_day_year' }}</span>
                        {%- endif -%}
                        {%- if section.settings.blog_author -%}
                        <span class="blog__author">{{ article.author }}</span>
                        {%- endif -%}
                    </div>
                    <a href="{{ article.url }}">
                        <h2 class="blog__heading">{{ article.title }}</h2>
                    </a>
                    {%- if article.excerpt.size > 0 -%}
                    <p class="blog__excerpt">{{ article.excerpt }}</p>
                    {%- else -%}
                    <p class="blog__excerpt-content">
                        {{ article.content | strip_html | truncate: 150 }}
                    </p>
                    {%- endif -%}
                    <a class="blog__link" href="{{ article.url }}" aria-label="Read more: {{ article.title }}">{{ 'blogs.article.read_more' | t }}<span aria-hidden="true" class="icon icon-chevron-right"></span></a>
                </div> 
            </div>
            {%- endfor -%}
        </div>
        {%- if section.settings.blog_link_activate == true -%}
        <div class="blog__btn-wrapper">
            <a href="{{ blog.url }}" class="blog__btn" aria-label="{{ 'blogs.article.see_more' | t }}"> {{ 'blogs.article.see_more' | t }}</a>
        </div>
        {%- endif -%}
    </div>
    {%- endif -%}
  </section>


  
<style>

    #shopify-section-{{ section.id }} .main-carousel:after {
        content: 'flickity';
        display: none;
    }
    #shopify-section-{{ section.id }} .carousel-cell {
        width: 100%;
    }

    @media screen and ( min-width: 768px ) {
        #shopify-section-{{ section.id }} .main-carousel:after {
            content: '';
        }
    }
    
    @media screen and ( max-width: 768px ) {
        #shopify-section-{{ section.id }} .carousel-cell {
            width: 70%;
            margin-left: 12px;
        }
        #shopify-section-{{ section.id }} .carousel-cell:first-child {
            margin: 0 !important;
            width: 70%;
        }
    }

</style>

<script>
    document.addEventListener("shopify:section:load", function(event) {
        var elem = document.querySelector('.blog__carousel');
        var flkty = new Flickity( elem, {
        pageDots: false,
        prevNextButtons: false,
        cellAlign: 'left',
        contain: true,
        watchCSS: true,
        });
    });
</script>
    

{% schema %}
{
    "name": "Blog posts",
    "settings": [
        {
            "type": "text",
            "id": "blog_heading",
            "label": "Heading" 
        },
        {
            "type": "text",
            "id": "blog_subheading",
            "label": "Subheading"
        },
        {
            "type": "blog",
            "id": "blog",
            "label": "Blog"
        },
        {
            "type": "checkbox",
            "id": "blog_date",
            "label": "Show date",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "blog_author",
            "label": "Show author",
            "default": true
        },
        {
            "type": "range",
            "id": "blog_posts",
            "label": "Posts",
            "min": 2,
            "max": 4,
            "step": 1,
            "default": 2
        },
        {
            "type": "checkbox",
            "id": "blog_link_activate",
            "label": "Activate link",
            "default": true
        }
    ],
    "presets": [
        {
        "name": "Blog posts",
        "category": "Blog"
        }
    ]
}
{% endschema %}