<section class="max-width mx-auto text-center py-12 lg:py-16"> 
    {% if section.settings.collection_list_heading != blank or section.settings.collection_list_subheading != blank %}
        <div class="mb-6 lg:mb-8">
            {% if section.settings.collection_list_heading != blank %}<h2 class="heading-sm clr-general-heading mb-3 lg:mb-4">{{ section.settings.collection_list_heading }}</h2>{% endif %}
            {% if section.settings.collection_list_subheading != blank %}<p class="body-md clr-general-text">{{ section.settings.collection_list_subheading }}</p>{% endif %}
        </div>
    {% endif %} 
    <div class="{% if section.settings.collection_list_link_text != blank %} mb-6 lg:mb-8 {% endif %} grid gap-3 sm:gap-4 lg:gap-5 
    {% if section.settings.collection_list_per_row == 1 %} md:grid-cols-1 {% elsif section.settings.collection_list_per_row == 2%} md:grid-cols-2 {% elsif section.settings.collection_list_per_row == 3 %} md:grid-cols-3 {% elsif section.settings.collection_list_per_row == 4 %} md:grid-cols-4 {% elsif section.settings.collection_list_per_row == 5 %} md:grid-cols-5 {% endif %}{% if section.settings.collection_list_per_row_mobile == 1 %} grid-cols-1 {% elsif section.settings.collection_list_per_row_mobile == 2 %} grid-cols-2 {% elsif section.settings.collection_list_per_row_mobile == 3 %} grid-cols-3 {% endif %}">
        {% for block in section.blocks %}
        {%- assign collection = collections[block.settings.collection_list] -%}
            {% include 'collection-list-tile', collection: collection %}
        {% endfor %}
    </div>
</section>

<style>
    @media screen and (max-width: 640px) {
        #shopify-section-{{ section.id }} .mt-dynamic:nth-child(n+{{ section.settings.collection_list_per_row_mobile | plus: 1 }}) {
            margin-top: 8px;
        }
    }
    @media screen and (min-width: 640px) {
        #shopify-section-{{ section.id }} .mt-dynamic:nth-child(n+{{ section.settings.collection_list_per_row | plus: 1 }}) {
            margin-top: 16px;
        }
    } 
</style>

{% schema %} 
{
    "name": "Collection list",
    "settings": [
        {
            "type": "text",
            "id": "collection_list_heading",
            "label": "Heading"
        },
        {
            "type": "text",
            "id": "collection_list_subheading",
            "label": "Subheading"
        },
        {
            "type": "range",
            "id": "collection_list_aspect", 
            "label": "Aspect ratio",
            "unit": ":1",
            "min": 0.5,
            "max": 1.5,
            "step": 0.1,
            "default": 1
        },
        {
            "type": "range",
            "id": "collection_list_per_row",
            "label": "Columns per row",
            "min": 2,
            "max": 5,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "collection_list_per_row_mobile",
            "label": "Columns per row on mobile",
            "min": 1,
            "max": 3,
            "step": 1,
            "default": 2
        }
    ],
    "max_blocks": 12,
    "blocks": [
        {
            "type": "collection_list",
            "name": "Collection list",
            "settings": [
                {
                    "type": "collection",
                    "id": "collection_list",
                    "label": "Collection"
                },
                {
                    "type": "image_picker",
                    "id": "collection_list_image",
                    "label": "Custom image"
                },
                {
                    "type": "text",
                    "id": "collection_list_custom_title",
                    "label": "Custom title"
                }
            ]
        }
    ],
    "presets": [
        {
            "category": "Collection",
            "name":"Collection list"
        }
    ]
}
{% endschema %}