<style>
:root {
        --menu-closed-height: 0;
    }
    #header ul li .header_content {
        transition: opacity 200ms cubic-bezier(0, 0, 0.2, 1);
        opacity: 0;
    }
    #header ul li:hover .header_content {
        opacity: 1;
    }
    #header .parent_link:hover {
        opacity: 0.8;
    }
    #header .child_default a:hover, #header .child_mega a:hover {
        color: #046e82;
    }
    #header ul li .dropdown-menu {
        transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
        height: var(--menu-closed-height);
    }
    #header ul li:hover .dropdown-menu {
        visibility: visible;
        height: var(--menu-open-height, auto);
    }

    .stickyHeader {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9995;
        float:left;
        transition: all 0.3s ease-out;
    }

    .content {
        padding-top: 64px;
    }

    #shopify-section-{{ section.id }} .grid-autofit {
        grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    }

    #shopify-section-{{ section.id }} .megamenu-image-width {
        width: 300px;
    }

    #shopify-section-{{ section.id }} .megamenu-height {
        max-height: 70vh;
    }
    #header .child_default .grandchild_default {
        background:white; 
        display:none;
        position: absolute;
        top: 0;
        left: calc(100% + 1rem);
        min-width: 170px;
    }
    #header .child_default a:hover + .grandchild_default {
        display: block;
    }
</style>


{% assign mega = '' | split: ',' %}

<div class="{% if template == index %} absolute {% endif %} w-full">
  <div class="w-full bg-black bg-opacity-40 absolute top-0 left-0 right-0 bottom-0 h-screen hidden overlaySearch" style="z-index: 5;"></div>
  <div class="bg-white relative z-10 header shadow-small">
    <div class="grid grid-cols-3 items-center {% if section.settings.header_width == 'full-width' %} px-3 sm:px-4 lg:6 {% elsif section.settings.header_width == 'content-width' %} max-width mx-auto {% endif %}">
      <nav class="flex h-full items-center justify-start">
        <ul class="hidden -ml-4 lg:flex h-full">
            
          
          {% for link in linklists[section.settings.header_main_menu].links %}
            <li>
              <a class="flex items-center body-md px-4 space-x-1 h-full truncate parent_link animateHeight" href="{{ link.url }}"><p>{{ link.title }}</p>
              {% if link.links != blank %}
                  {% if linklists[section.settings.header_main_menu].levels > 1 %}
                        <span class="icon icon-chevron-down"></span>
                  {% endif %}
              {% endif %}
              </a> 

              {% if link.links != blank %}

              <!-- ARRAY WITH MEGA LINKS -->
              {% for block in section.blocks %}
                {% assign mega = mega | append: block.settings.header_megamenu_image_trigger | join: ',' %}
              {% endfor %}

              <!-- IF THERE IS MATCH IN MEGA TRIGGER LINKS -->
              {% if mega contains link.title %}
                {% for block in section.blocks %}
                    {% if block.settings.header_megamenu_image_trigger == link.title %}
                        <div class="bg-white shadow-md absolute invisible z-50 dropdown-menu megamenu-height left-0 w-full">
                            <div class="flex py-8 {% if section.settings.header_width == 'full-width' %} px-3 sm:px-4 lg:6 {% elsif section.settings.header_width == 'content-width' %} max-width mx-auto  {% endif %}{% if link.levels == 1 %} flex-col px-4 {% endif %} w-full header_content child_mega">
                                <ul class="flex-1 grid-autofit grid gap-5

                                {% if link.links.size == 1 %} grid-cols-1 {% elsif link.links.size == 2 %} grid-cols-2 {% elsif link.links.size == 3 %} grid-cols-3 {% elsif link.links.size >= 4 %} grid-cols-4 {% endif %}">
                                
                                    {% for child_link in link.links %}
                                    <li class="inline-block ">
                                        <a href="{{ child_link.url }}" class="font-semibold heading-xs">{{ child_link.title }}</a>
                                        {% if child_link.links != blank %}
                                            <ul class="grandchild body-md block space-y-2 mt-4">
                                                {% for grandchild_link in child_link.links %} 
                                                <li class="block">
                                                    <a class="block h-full w-full" href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </li>
                                    {% endfor %}
                                </ul>
                                <div class="flex space-x-5 {% if block.settings.header_megamenu_image_position == 'first-column' %} order-first mr-5 {% elsif block.settings.header_megamenu_image_position == 'last-column' %} order-last ml-5 {% endif %}">

                                    {% unless block.settings.header_megamenu_image_1 == blank %}
                                    <div class="image megamenu-image-width">
                                        <a href="{{ block.settings.header_megamenu_image_url_1 }}">
                                            <div class="aspect-w-4 aspect-h-5">
                                                <img class="object-cover" src="{{ block.settings.header_megamenu_image_1 | img_url: 'master' }}" alt="">
                                            </div>
                                        </a>
                                        <p class="body-md py-4">
                                            <a href="{{ block.settings.header_megamenu_image_url_1 }}">{{ block.settings.header_megamenu_image_text_1 }}</a>
                                        </p>
                                    </div> 
                                    {% endunless %}
                                    

                                    {% unless block.settings.header_megamenu_image_2 == blank %}
                                    <div class="image megamenu-image-width">
                                        <a href="{{ block.settings.header_megamenu_image_url_2 }}">
                                            <div class="aspect-w-4 aspect-h-5">
                                                <img class="object-cover" src="{{ block.settings.header_megamenu_image_2 | img_url: 'master' }}" alt="">
                                            </div>
                                        </a>
                                        <p class="body-md py-4">
                                            <a href="{{ block.settings.header_megamenu_image_url_2 }}">{{ block.settings.header_megamenu_image_text_2 }}</a>
                                        </p>
                                    </div>
                                    {% endunless %}
                                    
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
              {% else %}
              <!-- DEFAULT LINKS -->
                <div class="bg-white shadow-md absolute invisible z-50 dropdown-menu w-60 megamenu-height">
                    <div class="flex py-2 {% if section.settings.header_width == 'full-width' %} px-3 sm:px-4 lg:6 {% elsif section.settings.header_width == 'content-width' %} mx-auto {% endif %} flex-col px-4 w-full header_content">
                        <ul class="child_default">
                        
                        {% for child_link in link.links %}
                        {% unless mega contains link.title %}
                            <li class="w-full relative">
                                <a href="{{ child_link.url }}" class="body-md flex items-center py-2 justify-between">
                                    <p>{{ child_link.title }}</p>
                                    {% if child_link.links != blank %}
                                        <span aria-hidden="true" class="text-2xl icon icon-chevron-right cursor-pointer navDropdown chevronNav"></span>
                                    {% endif %}
                                </a>
                                {% if child_link.links != blank %}
                                <ul class="grandchild_default body-md px-4 whitespace-nowrap">
                                    {% for grandchild_link in child_link.links %} 
                                    <li class="block py-2">
                                        <a href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </li>
                        {% endunless %}
                        {% endfor %}
                        </ul>
                    </div>
                </div>
              {% endif %}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
        
        <div class="w-6 h-6 lg:hidden">
        <a href="#" id="toggleSidebar"><button class="hamburger hamburger--squeeze" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button></a>
        </div>

      </nav>
      <div class="flex text-2xl font-semibold justify-center">
        <a class="py-4" href="{{ routes.root_url }}">
          {% if section.settings.header_logo != blank %}
            <img class="object-cover" style="height: {{ section.settings.header_logo_height }}px;" src="{{ section.settings.header_logo | img_url: '200x200' }}" alt="{{ shop.name }}">
          {% elsif section.settings.header_logo == blank %}
            {{ shop.name }}
          {% endif %}
        </a>
      </div>
      <div class="flex justify-end space-x-4">
        <div class="search flex {% if section.settings.header_search_activate == true %} flex {% elsif section.settings.header_search_activate == false %} hidden {% endif %}">
          <span class="text-2xl icon icon-search" aria-hidden="true"></span>
        </div>
        <div class="my-account hidden lg:flex">
          {% if shop.customer_accounts_enabled %}
            {% if customer %}
              <a href="{{ routes.account_url }}">
                <span class="text-2xl icon icon-user" aria-hidden="true"></span>
              </a>
            {% else %}
              <a href="{{ routes.account_login_url }}">
                <span class="text-2xl icon icon-user" aria-hidden="true"></span>
              </a>
            {% endif %}
          {% endif %}
        </div>
        
        <div class="cart" data-cart-view>
          <a href="{% if settings.cart_type == 'cart_type_page' %}/cart{% endif %}"{% if settings.cart_type == 'cart_type_drawer' %}@click.prevent="cartOpen = true"{% endif %}class="flex space-x-4">
            <span class="text-2xl icon icon-shopping-cart relative" aria-hidden="true">
                {% if cart.item_count >= 1 %}
                    <div class="-mr-1 w-4 h-4 text-center items-center body-xs bg-yellow-400 rounded-full absolute top-0 right-0">{{ cart.item_count }}</div>
                {% endif %}
            </span>
          </a>
          
        </div>
      </div>
    </div>
    {% render 'mobile-navmenu' %}

  </div>
  <!-- End of Header -->

</div>

{% schema %}
{
    "name": "Header",
    "settings": [
        {
            "type": "image_picker",
            "id": "header_logo",
            "label": "Logo"
        },
        {
            "type": "range",
            "id": "header_logo_height",
            "label": "Logo height",
            "unit": "px",
            "min": 40,
            "max": 100,
            "step": 1,
            "default": 40
        },
        {
            "type": "header",
            "content": "Layout" 
        },
        {
            "type": "checkbox",
            "id": "header_sticky_enable",
            "label": "Enable sticky header",
            "default": true
        },
        {
            "type": "select",
            "id": "header_width",
            "label": "Section width",
            "options": [
                {
                    "value": "full-width",
                    "label": "Full width"
                },
                {
                    "value": "content-width",
                    "label": "Content width"
                }
            ]
        },
        {
            "type": "header",
            "content": "Navigation"
        },
        {
            "type": "link_list",
            "id": "header_main_menu",
            "label": "Select menu",
            "default": "main-menu"
        },
        {
            "type": "header",
            "content": "Search"
        },
        {
            "type": "checkbox",
            "id": "header_search_activate",
            "label": "Activate search",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "header_search_live_activate",
            "label": "Activate live search",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "header_search_quick_links_activate",
            "label": "Activate quick links",
            "default": false
        },
        {
            "type": "text",
            "id": "header_search_quick_links_heading",
            "label": "Quick links heading",
            "default": "Suggestion"
        },
        {
            "type": "link_list",
            "id": "header_search_quick_links",
            "label": "Quick links menu"
        }
    ],
    "max_blocks": 6,
    "blocks": [
        {
            "type": "megamenu_image",
            "name": "Image",
            "limit": 6,
            "settings": [
                {
                    "type": "text",
                    "id": "header_megamenu_image_trigger",
                    "label": "Menu trigger"
                },
                {
                    "type": "select",
                    "id": "header_megamenu_image_position",
                    "label": "Position",
                    "options": [
                        {
                            "value": "first-column",
                            "label": "First column"
                        },
                        {
                            "value": "last-column",
                            "label": "Last column"
                        }
                    ]
                },
                {
                    "type": "header",
                    "content": "Image 1"
                },
                {
                    "type": "image_picker",
                    "id": "header_megamenu_image_1",
                    "label": "Image"
                },
                {
                    "type": "select",
                    "id": "header_megamenu_image_size_1",
                    "label": "Image size",
                    "options": [
                        {
                            "value": "small",
                            "label": "Small"
                        },
                        {
                            "value": "medium",
                            "label": "Medium"
                        },
                        {
                            "value": "large",
                            "label": "Large"
                        }
                    ]
                }, 
                {
                    "type": "url",
                    "id": "header_megamenu_image_url_1",
                    "label": "Image URL"
                },
                {
                    "type": "text",
                    "id": "header_megamenu_image_text_1",
                    "label": "Text"
                },
                {
                    "type": "header",
                    "content": "Image 2"
                },
                {
                    "type": "image_picker",
                    "id": "header_megamenu_image_2",
                    "label": "Image"
                },
                {
                    "type": "select",
                    "id": "header_megamenu_image_size_2",
                    "label": "Image size",
                    "options": [
                        {
                            "value": "small",
                            "label": "Small"
                        },
                        {
                            "value": "medium",
                            "label": "Medium"
                        },
                        {
                            "value": "large",
                            "label": "Large"
                        }
                    ]
                },
                {
                    "type": "url",
                    "id": "header_megamenu_image_url_2",
                    "label": "Image URL"
                },
                {
                    "type": "text",
                    "id": "header_megamenu_image_text_2",
                    "label": "Text"
                }
            ]
        },
        {
            "type": "megamenu_multi_column",
            "name": "Multi column",
            "limit": 6,
            "settings": [
                {
                    "type": "text",
                    "id": "header_megamenu_multi_column_trigger",
                    "label": "Menu trigger"
                },
                {
                    "type": "range",
                    "id": "header_megamenu_multi_column_number",
                    "label": "Number of columns",
                    "min": 2,
                    "max": 6,
                    "step": 1,
                    "default": 3
                }
            ]
        }
    ]
}
{% endschema %}