<section class="highlights" data-section-type="highlights" data-section-id="{{ section.id }}">
    <div class="highlights__content">
        <div class="
        {% if section.settings.highlights_layout_mobile == 'highlight-carousel' %}
            main-carousel highlights__content--carousel
        {% endif %}
        {% if section.settings.highlights_layout_mobile == 'highlight-grid' %}
            highlights__content--grid
        {% endif %}

        {% if section.settings.highlight_icon_layout == 'left' %}
            highlights__content--left
        {% elsif section.settings.highlight_icon_layout == 'center' %}
            highlights__content--center 
        {% endif %}
        " data-flickity='{ "cellAlign": "left", "contain": true, "pageDots": false, "watchCSS": true, "prevNextButtons": false }'> 
            {% for block in section.blocks %}
                <div class="carousel-cell">
                    <a href="{{ block.settings.highlights_link_url }}">
                        <div class="highlights__block {% if section.settings.highlight_icon_layout == 'left' %} highlights__block--left {% else %} highlights__block--center {% endif %}">
                            <div class="{% if section.settings.highlight_icon_layout == 'left' %} highlights__icon--left {% else %} highlights__icon--center {% endif %} ">
                                {% if block.settings.highlight_image == blank %}
                                {% include 'highlights-icons' %}
                                {% endif %}
                                {% if block.settings.highlight_image != blank %}<img class="highlights__image" src="{{ block.settings.highlight_image | image_url }}"> {% endif %}
                            </div>
                            <div class="highlights__info">
                                {% if block.settings.highlight_heading != blank %}<h5 class="highlights__heading">{{ block.settings.highlight_heading }}</h5> {% endif %}
                                {% if block.settings.highlight_text != blank %}<p class="highlights__text">{{ block.settings.highlight_text }}</p> {% endif %}
                                {% if block.settings.highlights_link_url != blank %}<p class="highlights__link">{{ block.settings.highlight_link_text }}</p>{% endif %}
                            </div>
                        </div>
                    </a>
                </div> 
            {% endfor %}
        </div>
    </div>
</section>

<style>
    #shopify-section-{{ section.id }} .highlights {
        background-color: {{ section.settings.clr_highlight_background }};
    }

    #shopify-section-{{ section.id }} .highlights__heading {
        color: {{ section.settings.clr_highlight_heading }};
    }

    #shopify-section-{{ section.id }} .highlights__text {
        color: {{ section.settings.clr_highlight_text }};
    }

    #shopify-section-{{ section.id }} .highlights__link {
        color: {{ section.settings.clr_highlight_link }};
    }
    
    #shopify-section-{{ section.id }} .highlights__icon {
        height: {{ section.settings.highlight_icon_size }}px;
        width: {{ section.settings.highlight_icon_size }}px;
        fill: {{ section.settings.clr_highlight_icon }};
    }

    #shopify-section-{{ section.id }} .highlights__image {
        height: {{ section.settings.highlight_icon_size }}px;
        width: {{ section.settings.highlight_icon_size }}px;
    }

    #shopify-section-{{ section.id }} .carousel-cell { {% if section.blocks.size == 1 %} width:100%; {% else %} width: 60%; {% endif %} {% if section.settings.highlights_layout_mobile == 'highlight-grid' %} width: 100%; {% endif %} }
    #shopify-section-{{ section.id }} .main-carousel { width: 100%; }
    #shopify-section-{{ section.id }} .main-carousel:after { content: 'flickity'; display: none; }

    @media screen and ( min-width: 1024px ) {
        #shopify-section-{{ section.id }} .main-carousel:after {
            content: '';
        }
    }

    {% if section.settings.highlights_layout_mobile == 'highlight-carousel' %}
    @media screen and ( min-width: 640px ) {
        #shopify-section-{{ section.id }} .carousel-cell {
            {% if section.blocks.size == 1 %}
                width:100%;
            {% else %}
                width: 35%;
            {% endif %}
        }
    }
    {% endif %}
</style>

<script>
    document.addEventListener("shopify:section:load", function(event) {
      var elem = document.querySelector('.highlights__content--carousel');
      var flkty = new Flickity( elem, {
      pageDots: false,
      prevNextButtons: false,
      cellAlign: 'left',
      contain: true,
      groupCells: true,
      watchCSS: true
      });
    });
</script>
{% schema %}
{
    "name": "Highlights bar",
    "settings": [
        {
            "type": "header",
            "content": "Layout"
        },
        {
            "type": "select",
            "id": "highlights_layout_mobile",
            "label": "Mobile layout",
            "default": "highlight-grid",
            "options": [
                {
                    "value": "highlight-grid",
                    "label": "Grid"
                },
                {
                    "value": "highlight-carousel",
                    "label": "Carousel"
                }
            ]
        },
        {
            "type": "header",
            "content": "Icon"
        },
        {
            "type": "range",
            "id": "highlight_icon_size",
            "label": "Icon size",
            "min": 36,
            "max": 48,
            "step": 1,
            "default": 48,
            "unit": "px"
        },
        {
            "type": "select",
            "id": "highlight_icon_layout",
            "label": "Icon layout",
            "default": "center",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                }
            ]
        },
        {
            "type": "header",
            "content": "Colors"
        },
        {
            "type": "color",
            "id": "clr_highlight_background",
            "label": "Backround color",
            "default": "#CCCCCC"

        },
        {
            "type": "color",
            "id": "clr_highlight_icon",
            "label": "Icon color",
            "default": "#30656B"
        },
        {
            "type": "color",
            "id": "clr_highlight_heading",
            "label": "Heading color",
            "default": "#222222"
        },
        {
            "type": "color",
            "id": "clr_highlight_text",
            "label": "Text color",
            "default": "#222222"
        },
        {
            "type": "color",
            "id": "clr_highlight_link",
            "label": "Link color",
            "default": "#30656B"
        }
    ],
    "max_blocks": 4,
    "blocks": [
        {
            "type": "Highlights",
            "name": "Highlight",
            "settings": [
                {
                    "type": "select",
                    "id": "highlight_icon",
                    "label": "Icon",
                    "default": "shop",
                    "options": [
                        {
                            "value": "receipt",
                            "label": "Receipt"
                        },
                        {
                            "value": "euro",
                            "label": "Euro"
                        },
                        {
                            "value": "piggy-bank",
                            "label": "Piggy bank"
                        },
                        {
                            "value": "shop",
                            "label": "Shop"
                        },
                        {
                            "value": "pos",
                            "label": "POS"
                        },
                        {
                            "value": "receipt-2",
                            "label": "Receipt 2"
                        },
                        {
                            "value": "business-idea",
                            "label": "Business idea"
                        },
                        {
                            "value": "ticket",
                            "label": "Ticket"
                        },
                        {
                            "value": "shopping-bag",
                            "label": "Shopping bag"
                        },
                        {
                            "value": "shopping-bag-2",
                            "label": "Shopping bag 2"
                        },
                        {
                            "value": "cash",
                            "label": "Cash"
                        },
                        {
                            "value": "card",
                            "label": "Card"
                        },
                        {
                            "value": "cashback",
                            "label": "Cashback"
                        },
                        {
                            "value": "piggy-bank-2",
                            "label": "Piggy bank 2"
                        },
                        {
                            "value": "shop-2",
                            "label": "Shop 2"
                        },
                        {
                            "value": "discount",
                            "label": "Discount"
                        },
                        {
                            "value": "basket",
                            "label": "Basket"
                        },
                        {
                            "value": "cart",
                            "label": "Cart"
                        },
                        {
                            "value": "safe",
                            "label": "Safe"
                        },
                        {
                            "value": "cargo",
                            "label": "Cargo"
                        },
                        {
                            "value": "deposit",
                            "label": "Deposit"
                        },
                        {
                            "value": "card-2",
                            "label": "Card 2"
                        },
                        {
                            "value": "shopping-bag-3",
                            "label": "Shopping bag 3"
                        },
                        {
                            "value": "courier",
                            "label": "Courier"
                        },
                        {
                            "value": "pallet",
                            "label": "Pallet"
                        },
                        {
                            "value": "pound-sterling",
                            "label": "Pound sterling"
                        },
                        {
                            "value": "coin-acceptor",
                            "label": "Coin acceptor"
                        },
                        {
                            "value": "dollar",
                            "label": "Dollar"
                        },
                        {
                            "value": "gold",
                            "label": "Gold"
                        },
                        {
                            "value": "medal",
                            "label": "Medal"
                        },
                        {
                            "value": "delivery",
                            "label": "Delivery"
                        },
                        {
                            "value": "cart-2",
                            "label": "Cart 2"
                        },
                        {
                            "value": "ticket-2",
                            "label": "Ticket 2"
                        },
                        {
                            "value": "parcel",
                            "label": "Parcel"
                        },
                        {
                            "value": "parcel-2",
                            "label": "Parcel 2"
                        },
                        {
                            "value": "barcode",
                            "label": "Barcode"
                        },
                        {
                            "value": "ticket-3",
                            "label": "Ticket 3"
                        },
                        {
                            "value": "wallet",
                            "label": "Wallet"
                        },
                        {
                            "value": "tag",
                            "label": "Tag"
                        },
                        {
                            "value": "wallet-2",
                            "label": "Wallet 2"
                        },
                        {
                            "value": "warehouse-shelves",
                            "label": "Warehouse shelves"
                        },
                        {
                            "value": "support",
                            "label": "Support"
                        },
                        {
                            "value": "tag-2",
                            "label": "Tag 2"
                        },
                        {
                            "value": "wallet-3",
                            "label": "Wallet 3"
                        },
                        {
                            "value": "tag-3",
                            "label": "Tag 3"
                        },
                        {
                            "value": "stopwatch",
                            "label": "Stopwatch"
                        },
                        {
                            "value": "truck",
                            "label": "Truck"
                        },
                        {
                            "value": "target",
                            "label": "Target"
                        },
                        {
                            "value": "tag-4",
                            "label": "Tag 4"
                        },
                        {
                            "value": "shop-3",
                            "label": "Shop 3"
                        },
                        {
                            "value": "shop-4",
                            "label": "Shop 4"
                        },
                        {
                            "value": "parcel-3",
                            "label": "Parcel 3"
                        },
                        {
                            "value": "basket-2",
                            "label": "Basket 2"
                        },
                        {
                            "value": "shopping-bag-4",
                            "label": "Shopping bag 4"
                        },
                        {
                            "value": "shopping-bag-5",
                            "label": "Shopping bag 5"
                        },
                        {
                            "value": "shopping-bag-6",
                            "label": "Shopping bag 6"
                        },
                        {
                            "value": "basket-3",
                            "label": "Basket 3"
                        },
                        {
                            "value": "cashmachine",
                            "label": "Cash machine"
                        },
                        {
                            "value": "checkbook",
                            "label": "Check book"
                        }
                    ]
                },
                {
                    "type": "image_picker",
                    "id": "highlight_image",
                    "label": "Icon image"
                },
                {
                    "type": "text",
                    "id": "highlight_heading",
                    "label": "Heading",
                    "default": "Highlight heading"
                },
                {
                    "type": "textarea",
                    "id": "highlight_text",
                    "label": "Text",
                    "default": "Highlight text"
                },
                {
                    "type": "text",
                    "id": "highlight_link_text",
                    "label": "Link text",
                    "default": "Learn more"
                },
                {
                    "type": "url",
                    "id": "highlights_link_url",
                    "label": "Link URL"
                }
            ]
        }
    ],
    "presets": [
        {
            "category": "Text",
            "name":"Highlights bar"
        }
    ]
}
{% endschema %}