<section class="logo-list">
    {% if section.settings.logo_list_heading != blank or section.settings.logo_list_text != blank %}
    <div class="logo-list__header">
        {% if section.settings.logo_list_heading != blank %}<h2 class="logo-list__heading">{{ section.settings.logo_list_heading }}</h2>{% endif %}
        {% if section.settings.logo_list_text != blank %}<p class="logo-list__text">{{ section.settings.logo_list_text }}</p>{% endif %}
    </div>
    {% endif %}
    <div class="logo-list__content">
            {% for block in section.blocks %}
            <div class="logo-list__image-wrapper">
             {% if block.settings.logo_list_image == blank %}
                {{ 'image' | placeholder_svg_tag: 'svg-placeholder-opacity logo-list-image-size logo-list-image-size-mobile' }}
             {% else %}
                <img class="logo-list__image" src="{{ block.settings.logo_list_image | img_url: '300x300' }}">
             {% endif %}
            </div>
            {% endfor %}
    </div>
</section>
  
<style>
    @media only screen and (max-width : 1280px) {
        .logo-list__image {
            width: {{ section.settings.logo_list_image_size_mobile }}px;
        }
    }

    @media only screen and (min-width : 1280px) {
        .logo-list__image {
            width: {{ section.settings.logo_list_image_size }}px;
        }
    }

    .logo-list {
        background: {{ section.settings.clr_logo_list_background }};
    }
</style>


    {% schema %}
    {
        "name": "Logo list",
        "max_blocks": 6,
        "settings": [
          {
              "type": "text",
              "id": "logo_list_heading",
              "label": "Heading",
              "default": "Heading logo list"
          },
          {
              "type": "textarea",
              "id": "logo_list_text",
              "label": "Text",
              "default": "Paragraph logo list"
          },
          {
              "type": "color",
              "id": "clr_logo_list_background",
              "label": "Background color"
          },
          {
            "type": "range",
            "id": "logo_list_image_size",
            "label": "Image size",
            "min": 70,
            "max": 150,
            "step": 2,
            "default": 130,
            "unit": "px"
            },
            {
                "type": "range",
                "id": "logo_list_image_size_mobile",
                "label": "Image size mobile",
                "min": 64,
                "max": 96,
                "step": 2,
                "default": 80,
                "unit": "px"
            }
        ],
        "blocks": [
          {
              "name": "Logo list",
              "type": "logolist",
              "settings": [
                  {
                      "type": "image_picker",
                      "id": "logo_list_image",
                      "label": "Logo"
                  }
              ]
          }
        ],
        "presets": [
          {
              "category": "Image",
              "name": "Logo list"
          }
        ]
    }
    {% endschema %}