<section class="clr-background-logo-list">
    <div class="max-width mx-auto py-4">
        {% if section.settings.logo_list_heading != blank or section.settings.logo_list_text != blank %}
        <div class="text-center mb-6 lg:mb-8 {% if section.settings.logo_list_text != blank %} space-y-3 lg:space-y-4 {% endif %}">
            {% if section.settings.logo_list_heading != blank %}<h2 class="heading-sm clr-general-headings">{{ section.settings.logo_list_heading }}</h2>{% endif %}
            {% if section.settings.logo_list_text != blank %}<p class="body-md clr-general-text">{{ section.settings.logo_list_text }}</p>{% endif %}
        </div>
        {% endif %}
        <div class="flex flex-wrap justify-center justify-items-center">
              {% for block in section.blocks %}
                <div class="self-center my-4 mx-4 lg:mx-8">
                  <img class="logo-list-image-size logo-list-image-size-mobile object-center object-cover" src="{{ block.settings.logo_list_image | img_url: '180x180' }}">
                </div>
              {% endfor %}
        </div>
    </div>
</section>
  
<style>
    @media only screen and (max-width : 1280px) { .logo-list-image-size-mobile { width: {{ section.settings.logo_list_image_size_mobile }}px; } }
    @media only screen and (min-width : 1280px) { .logo-list-image-size { width: {{ section.settings.logo_list_image_size }}px; } }
    .clr-background-logo-list { background: {{ section.settings.logo_list_background }}; }
</style>


    {% schema %}
    {
        "name": "Logo list",
        "max_blocks": 6,
        "settings": [
          {
              "type": "text",
              "id": "logo_list_heading",
              "label": "Heading",
              "default": "Heading logo list"
          },
          {
              "type": "textarea",
              "id": "logo_list_text",
              "label": "Text",
              "default": "Paragraph logo list"
          },
          {
              "type": "color",
              "id": "logo_list_background",
              "label": "Background color"
          },
          {
            "type": "range",
            "id": "logo_list_image_size",
            "label": "Image size",
            "min": 70,
            "max": 150,
            "step": 2,
            "default": 130,
            "unit": "px"
            },
            {
                "type": "range",
                "id": "logo_list_image_size_mobile",
                "label": "Image size mobile",
                "min": 64,
                "max": 96,
                "step": 2,
                "default": 80,
                "unit": "px"
            }
        ],
        "blocks": [
          {
              "name": "Logo list",
              "type": "logolist",
              "settings": [
                  {
                      "type": "image_picker",
                      "id": "logo_list_image",
                      "label": "Logo"
                  }
              ]
          }
        ],
        "presets": [
          {
              "category": "Image",
              "name": "Logo list"
          }
        ]
    }
    {% endschema %}