<section class="newsletter">
    <div class="newsletter__header">
        {% if section.settings.section_title != blank %}
        <h2 class="newsletter__heading" for="Email">{{ section.settings.section_title | escape }}</h2>
        {% endif %}
        {% if section.settings.subheading != blank %}
        <p class="newsletter__text">{{ section.settings.subheading | escape }}</p>
        {% endif %}
    </div>
    <div class="newsletter__content">
        {% if settings.mailchimp_link != blank %}
            <form action="{{ settings.mailchimp_link }}" method="post" name="mc-embedded-subscribe-form" id="contact_form" target="_blank">
                {% if settings.display_first_name %}
                <input type="text" value="" class="firstName" name="FNAME" placeholder="{{ 'general.newsletter_form.subscriber_first_name' | t }}">
                {% endif %}
                {% if settings.display_last_name %}
                <input type="text" value="" name="LNAME" placeholder="{{ 'general.newsletter_form.subscriber_last_name' | t }}">
                {% endif %}
                <div class="newsletter__form">
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    <input class="newsletter__input" type="email" name="EMAIL" value="{% if customer.email != blank %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"  autocorrect="off" autocapitalize="off">
                    <input class="newsletter__btn" type="submit" value=" {{ 'general.newsletter_form.submit' | t }}"  id="Subscribe">
                </div>
            </form>
        {% else %}
            {% form 'customer' %}
                {% if form.errors %}
                <div class="newsletter__error">
                    <span aria-hidden="true" class="icon icon-alert-circle"></span> 
                    {{ form.errors | default_errors }}
                </div>
                {% endif %}
                {% if form.posted_successfully? %}
                <div class="newsletter__success"> 
                    <span aria-hidden="true" class="icon icon-check-circle"></span>
                    <p class="newsletter__text--success">{{ 'general.newsletter_form.confirmation' | t }}</p>
                </div>
                {% else %}
                <div class="flex items-center space-x-2">
                    <div class="w-full">
                        <input type="hidden" name="contact[tags]" value="newsletter">
                        <input class="newsletter__input" type="email" name="contact[email]" id="Email" value="{% if customer.email != blank %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}" autocorrect="off" autocapitalize="off">
                    </div>
                    <button class="newsletter__btn" type="submit" name="commit" id="Subscribe">
                        <span>{{ 'general.newsletter_form.submit' | t }}</span>
                    </button>
                </div>
                {% endif %}
            {% endform %}
        {% endif %}
    </div>
</section> 

{% schema %} 
{
    "name": "Newsletter",
    "settings": [
        {
            "type": "text",
            "id": "section_title",
            "label": "Heading",
            "default": "Subscribe to our newsletter"
        },
        {
            "type": "text",
            "id": "subheading",
            "label": "Subheading",
            "default": "A short sentence describing what someone will receive by subscribing"
        },
        {
            "type": "paragraph",
            "content": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers?query=&accepts_marketing=1)"
        }
    ],
    "presets": [
        {
            "name": "Newsletter",
            "category": "Promotional"
        }
    ]
}
{% endschema %}