{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
{% include 'carousel-expanded' %}
<!-- Gallery & Product Form -->
<div data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true" itemscope>
    <div class="product">
        <div class="product__breadcrumbs">
            {% include 'breadcrumbs' %}
        </div>
        <div class="product__grid">
            <div>
                <div class="relative">  
                    <a href="" class="product__main-carousel__btn absolute bottom-0 right-0 z-940"><span class="icon icon-maximize-2"></span>Click to expand</a>
                    <div class="product__main-carousel main-carousel carousel" id="mainImage" data-flickity='{ "cellAlign": "left", "contain": true, "prevNextButtons": false, "pageDots": true }'>
                        {% for media in product.media %}
                        <div class="product__main-cell carousel-cell aspect-w-1 aspect-h-1" >
                            <img class="product__main-image lazy" src="{{ media | img_url: '1000x1000'}}" alt="{{ media.alt }}">
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="product__nav-carousel nav-carousel carousel" id="navImage" data-flickity='{ "cellAlign": "left", "contain": true, "prevNextButtons": false, "pageDots": false, "asNavFor": ".main-carousel" }'>
                    {% for media in product.media %}
                    <div class="product__nav-cell carousel-cell">
                        <img class="product__nav-image lazy" src="{{ media | img_url: '500x500'}}" alt="{{ media.alt }}">
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div> 
                {% include 'product-form' %}

                {% if section.settings.product_tabs_type == 'product' %}
                <div class="product__tabs-form">
                    {% include 'product-tabs' %}
                </div>
                {% endif %}

                {% include 'product-tags' %}
                {% include 'social-sharing' %}

            </div>
        </div>
        <div class="product__tabs-section">
            {% if section.settings.product_tabs_type == 'section' %}
            {% include 'product-tabs' %}
            {% endif %}
        </div>
    </div>
</div>

{% include 'sticky-add-to-cart' %}
{% render 'sales-pop' %}

<script>
  document.addEventListener("shopify:section:load", function(event) {
      var elem = document.querySelector('#mainImage');
      var flkty = new Flickity( elem, {
      pageDots: true,
      cellAlign: 'left',
      contain: true,
      prevNextButtons: false

      });

      var elem2 = document.querySelector('#navImage');
      var flkty2 = new Flickity( elem2, {
      asNavFor: ".main-carousel",
      pageDots: false,
      cellAlign: 'left',
      contain: true,
      prevNextButtons: false
      });
  });
</script>

<script>
  var optionRadio1 = document.querySelectorAll('input[name="{{ product.options[0] | downcase }}"]');
  var optionRadio2 = document.querySelectorAll('input[name="{{ product.options[1] | downcase }}"]');
  var optionRadio3 = document.querySelectorAll('input[name="{{ product.options[2] | downcase }}"]');

  var addToCartButton = document.getElementById("add_to_cart");
  var checkoutButton = document.getElementById("checkout");

  if(document.body.contains(document.getElementById('SKU'))){
    var SKU = document.getElementById('SKU');
  }
  var inventory = document.getElementById('inventory');

  if(document.body.contains(document.getElementById('savePercent'))){
    var savePercent = document.getElementById('savePercent');
  }

  // <div class="product-form__sold-out" id="soldOut">{{ 'products.product.sold_out' | t }}</div>
  if(document.body.contains(document.getElementById('soldOut'))){
    var soldOut = document.getElementById('soldOut');
  }

  var priceElem = document.getElementById('price');
  var comparePrice = document.getElementById('compare_price');

  function decrement(event) {
    event.preventDefault();
    $('#quantity').val( function(i, oldval) {
      if (oldval > 1){
        return --oldval;
      } else {
        return oldval;
      }
        
    });
  }
  function increment(event) {
    event.preventDefault();
    $('#quantity').val( function(i, oldval) {
        return ++oldval;
    });
  } 

  function addCartUpdate(event) {
    event.preventDefault();
    var quantity = document.getElementById('quantity').value;
    addToCartButton.setAttribute("data-cart-quantity", quantity);
  }

  function eventFire(el, etype){
    if (el.fireEvent) {
      el.fireEvent('on' + etype);
    } else {
      var evObj = document.createEvent('Events');
      evObj.initEvent(etype, true, false);
      el.dispatchEvent(evObj);
    }
  }

  {% if product.options.size == 1 %}
  var legend = document.getElementById('legendSpan');
  legend.innerHTML = optionRadio1[0].value;

  (function() {
    checked = false;
    for (var i = 0; i < optionRadio1.length; i++) {
        if (optionRadio1[i].checked) {
            checked = true;
            break;
        }
    }

    if (!checked) {
      optionRadio1[0].checked = true;
      eventFire(optionRadio1[0], 'click');
      updateProductInformation();
    } else {
      updateProductInformation();
    }
  }());
  {% endif %}

  // Function to get the value of the checked radio button in the form.
  function getRadioVal(form, name) {
      var val;
      var radios = form.elements[name];
      for (var i=0, len=radios.length; i<len; i++) {
          if ( radios[i].checked ) {
              val = radios[i].value; 
              break;
          }
      }
      return val;
  }

  {% unless product.has_only_default_variant %}
    function changeRadioValue() {
          if (!(optionRadio1.checked) || !(optionRadio2.checked) {% if product.options[2] %} || !(optionRadio3.checked){% endif %}) {
            addToCartButton.disabled = true;
            checkoutButton.disabled = true;
        } else {
            addToCartButton.disabled = false;
            checkoutButton.disabled = false;
        }
    };

    function changeButton() {
      if (!(optionRadio1.checked) && !(optionRadio2.checked){% if product.options[2] %} && !(optionRadio3.checked){% endif %}) {
        addToCartButton.disabled = true;
        checkoutButton.disabled = true;
      }
      else {
        addToCartButton.disabled = false;
        checkoutButton.disabled = false;
      }
    };
    changeButton();
  {% endunless %}

  // Function runs every time a variant radio button or select dropdown changes.
  function updateProductInformation() {
    // Save the option select values
    {% for option in product.options %}
        var opt{{- forloop.index }} = getRadioVal( document.getElementById('product_form'), '{{ option | downcase }}' );
    {% endfor %}
    
    // Capture the quantity and save it as a liquid variable
    var quantity = document.getElementById('quantity').value;
    // document.getElementById('add_to_cart').setAttribute("data-cart-quantity", quantity);
    {% capture quantity %}quantity{% endcapture %}
    var id = '';
    var available;
    var inv_qty = {};
    var out_of_stock = false;
    var firstElemIventory = {{ product.variants.first.inventory_quantity }};
    // Loop through all of the variants to check if the option values match any of the variant combinations
    {% for v in product.variants %}
      if(opt1=="{{ v.option1 }}"{% if product.options[1] %} && opt2=="{{ v.option2 }}"{% endif %}{% if product.options[2] %} && opt3=="{{ v.option3 }}"{% endif %}) {
        // Save the ID for the specific variant combination.
        var id = {{ v.id }};
        var available = {{ v.available }};
        // Save the price given the quantity the user has selected. Once multiplied then format the price using the js api.
        var compare_price = Shopify.formatMoney({{ v.compare_at_price }}, "{{ shop.money_format }}");
        var price = Shopify.formatMoney({{v.price}}, "{{ shop.money_format }}");
        var compare = (({{ v.compare_at_price }}-{{v.price}})*100)/{{ v.compare_at_price }};
        var comparedPrice = Math.round(compare);
        
        inv_qty[id] = {{ v.inventory_quantity | default: 0 }};
        {% if v.inventory_quantity == 0 %}
          out_of_stock = true;
        {% endif %}
      }
    {% endfor %}

    // URL Query String
    // console.log(window.location.search);
    // If variant has an id then set the cart to the selected variant and change the price field.
    if(id!='') {
      //Inject variant id in Buttons
      addToCartButton.setAttribute('data-cart-add', id);

      //Price
      priceElem.innerHTML = price;
      if(compare_price == price){
        comparePrice.style.display = "none";
        savePercent.style.display = "none";
      } else if(compare_price > price) {
        comparePrice.style.display = "block";
        savePercent.style.display = "flex";
        comparePrice.innerHTML = compare_price;
        savePercent.innerHTML = "{{ 'products.product.save' | t }} "+comparedPrice+"%"
      }

      //Inventory

      // {% if variant.inventory_policy == "continue" %}
      // {% else %}
      // {% endif %}

      if(document.body.contains(document.getElementById('SKU'))){
        document.querySelector('.product-stock').style.display = "flex";
        if(inv_qty[id] < 5){
          SKU.innerHTML = 'Only '+inv_qty[id]+' left!'
          document.querySelector('.product-stock span').style.display = 'none';
          document.querySelector('.product-stock').style.color = 'var(--clr-warning)';
        } else {
          SKU.innerHTML = inv_qty[id]+' in stock, ready to be shipped.'
          document.querySelector('.product-stock span').style.display = 'block';
          document.querySelector('.product-stock').style.color = 'var(--clr-success)';
        }
        inventory.innerHTML = inv_qty[id];
      }

      //Buttons
      addToCartButton.disabled = true;
      checkoutButton.disabled = true;

      if(available == false){
        addToCartButton.setAttribute('value', 'Sold Out');
        addToCartButton.disabled = true;
        checkoutButton.disabled = true;
        if(document.body.contains(document.getElementById('SKU'))){
          SKU.innerHTML = 'Currently out of stock'
          document.querySelector('.product-stock span').style.display = 'none';
          document.querySelector('.product-stock').style.color = 'var(--clr-error)';
        }
      } else if (available == true) {
        addToCartButton.setAttribute('value', 'Add to Cart');
        addToCartButton.disabled = false;
        checkoutButton.disabled = false;
      }
      
    } else {
      comparePrice.style.display = "none";
      savePercent.style.display = "none";
      document.querySelector('.product-stock').style.display = "none";
      addToCartButton.setAttribute('data-variant-id', id);
      addToCartButton.setAttribute('value', 'Choose Options');
      addToCartButton.disabled = true;
      checkoutButton.disabled = true;
    }
  }
  updateProductInformation();
  
</script>

{% schema %}
{
    "name": "Product options",
    "max_blocks": 8,
    "settings": [
        {
            "type": "header",
            "content": "Tabs"
        },
        {
            "type": "select",
            "id": "product_tabs_type",
            "label": "Type",
            "default": "product",
            "options": [
                {
                    "value": "product",
                    "label": "Product"
                },
                {
                    "value": "section",
                    "label": "Section"
                }
            ]
        },
        {
            "type": "header",
            "content": "Timer"
        },
        {
            "type": "text",
            "id": "timer_title",
            "label": "Title",
            "default": "Special offer end in"
        },
        {
            "type": "checkbox",
            "id": "timer_activate",
            "label": "Activate timer",
            "default": false
        },
        {
            "type": "header",
            "content": "Dynamic checkout button"
        },
        {
            "type": "checkbox",
            "id": "dynamic_button",
            "label": "Activate dynamic checkout",
            "default": false
        },
        {
            "type": "header",
            "content": "Vendor"
        },
        {
            "type": "checkbox",
            "id": "vendor_activate",
            "label": "Activate vendor",
            "default": false
        },
        {
            "type": "header",
            "content": "Stock"
        },
        {
            "type": "checkbox",
            "id": "stock_activate",
            "label": "Activate stock",
            "default": false
        },
        {
            "type": "header",
            "content": "Proof payments"
        },
        {
            "type": "checkbox",
            "id": "proof_payments_activate",
            "label": "Activate proof payments",
            "default": false
        },
        {
            "type": "text",
            "id": "proof_payments_text",
            "label": "Title",
            "default": "Guaranteed safe & secure checkout"
        },
        {
            "type": "header",
            "content": "Description"
        },
        {
            "type": "select",
            "id": "product_description",
            "label": "Description position",
            "options": [
                {
                    "value": "above_addtocart",
                    "label": "Above add to cart"
                },
                {
                    "value": "below_addtocart",
                    "label": "Below add to cart"
                }
            ]
        },
        {
            "type": "header",
            "content": "Proof badges"
        },
        {
            "type": "checkbox",
            "id": "proof_badges_activate",
            "label": "Activate proof badges",
            "default": false
        },
        {
            "type": "header",
            "content": "Product tags"
        },
        {
            "type": "checkbox",
            "id": "product_tags",
            "label": "Activate product tags",
            "default": false
        },
        {
            "type": "header",
            "content": "Social sharing"
        },
        {
            "type": "checkbox",
            "id": "social_sharing_activate",
            "label": "Activate Social sharing",
            "default": false
        },
        {
            "type": "header",
            "content": "Sticky add to cart"
        },
        {
            "type": "checkbox",
            "id": "sticky_atc_activate",
            "label": "Activate sticky add to cart",
            "default": false
        },
        {
            "type": "select",
            "id": "sticky_atc_position",
            "label": "Position",
            "options": [
                {
                    "value": "sticky_atc_top",
                    "label": "Top"
                },
                {
                    "value": "sticky_atc_bottom",
                    "label": "Bottom"
                }
            ]
        },
        {
            "type": "header",
            "content": "Sales pop"
        },
        {
            "type": "checkbox",
            "id": "sales_pop",
            "label": "Activate sales pop",
            "default": false
        },
        {
            "type": "header",
            "content": "Swatch settings"
        },
        {
            "type": "checkbox",
            "id": "swatch_type",
            "label": "Swatch type",
            "default": false
        }
    ],
    "blocks": [
        {
            "name": "Product tab",
            "type": "product_tab",
            "limit": 5,
            "settings": [
                {
                    "type": "text",
                    "id": "product_tab_heading",
                    "label": "Heading",
                    "default": "Free Shipping"
                },
                {
                    "type": "textarea",
                    "id": "product_tab_excerpt", 
                    "label": "Excerpt",
                    "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                },
                {
                    "type": "richtext",
                    "id": "product_tab_text",
                    "label": "Text",
                    "default": "<p>ipsum dolor asimet...</p>"
                }
            ]
        },
        {
            "name": "Proof badge",
            "type": "proof_badge",
            "limit": 3,
            "settings": [
                {
                    "type": "text",
                    "id": "proof_badge_text",
                    "label": "Text",
                    "default": "Secure checkout"
                },
                {
                    "type": "text",
                    "id": "proof_badge_icon",
                    "label": "Icon",
                    "default": "heart"
                }
            ]
        }
    ]
}
{% endschema %}

