<section class="rich-text {% if section.settings.richtext_height == 'small' %} rich-text--height-small {% elsif section.settings.richtext_height == 'large' %} rich-text--height-large {% endif %}">
    <div class="rich-text__content">
        <h2 class="rich-text__heading">{{ section.settings.richtext_heading }}</h2>
        <p class="rich-text__text">{{ section.settings.richtext_text }}</p>
        {% if section.settings.richtext_button_text != blank %}
        <a href="{{ section.settings.richtext_link_url }}" class="btn-lg {% if section.settings.richtext_button_style == 'primary' %} btn-primary {% elsif section.settings.richtext_button_style == 'secondary' %} btn-secondary {% endif %}">{{ section.settings.richtext_button_text }}</a>
        {% endif %}
    </div>
</section>

<style>
    #shopify-section-{{ section.id }} .rich-text {
        background-color: {{ section.settings.clr_richtext_background }};
    }
    #shopify-section-{{ section.id }} .rich-text__heading {
        color: {{ section.settings.clr_richtext_heading }};
    }
    #shopify-section-{{ section.id }} .rich-text__text {
        color: {{ section.settings.clr_richtext_text }};
    }
</style>

{% schema %}
{
    "name": "Rich text",
    "settings": [
        {
            "type": "text",
            "id": "richtext_heading",
            "label": "Heading",
            "default": "It's default Heading for this section"
        },
        {
            "type": "text",
            "id": "richtext_text",
            "label": "Text",
            "default": "Lorem ipsum dolor asimet"
        },
        {
            "type": "text",
            "id": "richtext_button_text",
            "label": "Button text",
            "default": "Learn more"
        },
        {
            "type": "select",
            "id": "richtext_button_style",
            "label": "Button style",
            "default": "secondary",
            "options": [
                {
                    "value": "primary",
                    "label": "Primary"
                },
                {
                    "value": "secondary",
                    "label": "Secondary"
                }
            ]
        },
        {
            "type": "url",
            "id": "richtext_link_url",
            "label": "URL"
        },
        {
            "type": "select",
            "id": "richtext_height", 
            "label": "Height",
            "options": [
                {
                    "value": "small",
                    "label": "Small"
                },
                {
                    "value": "large",
                    "label": "Large"
                }
            ]
        },
        {
            "type": "color",
            "id": "clr_richtext_heading",
            "label": "Heading color",
            "default": "#222222"
        },
        {
            "type": "color",
            "id": "clr_richtext_text",
            "label": "Text color",
            "default": "#222222"
        },
        {
            "type": "color",
            "id": "clr_richtext_background",
            "label": "Background color",
            "default": "#FFFFFF"
        }

    ],
    "presets": [
      {
        "category": "Text",
        "name": "Rich text"
      }
    ]
}
{% endschema %}