<style>
    #shopify-section-{{ section.id }} .flickity-viewport {
        height: 100%!important;
    }

    #shopify-section-{{ section.id }} .flickity-page-dots {
        position: absolute;
    }

    #shopify-section-{{ section.id }} .slideshow {
        overflow: hidden!important;
    }
</style>

<div class="main-carousel slideshow js-flickity
{% if section.settings.slideshow_height_mobile == 'small' %}
h-80
{% elsif section.settings.slideshow_height_mobile == 'medium' %}
h-96
{% elsif section.settings.slideshow_height_mobile == 'large' %}
h-128
{% elsif section.settings.slideshow_height_mobile == 'extra_large' %}
h-144
{% elsif section.settings.slideshow_height_mobile == 'fit_screen' %}
h-screen
{% endif %}
{% if section.settings.slideshow_height == 'small' %}
lg:h-128
{% elsif section.settings.slideshow_height == 'medium' %}
lg:h-144
{% elsif section.settings.slideshow_height == 'large' %}
lg:h-176
{% elsif section.settings.slideshow_height == 'fit_screen' %}
lg:h-screen
{% endif %}
{% if section.settings.slideshow_width == 'full_width' %}
w-full
{% elsif section.settings.slideshow_width == 'content_width' %}
max-width my-6 mx-auto
{% endif %}
sm:h-172" 
{% unless section.blocks.size == 1 %}
data-flickity='{ "imagesLoaded": true,"wrapAround": true
{% if section.settings.slideshow_autoplay == true %}
, "autoPlay": {{section.settings.slideshow_autoplay_duration}}000 
{% endif %}
}'
{% endunless %}
data-section-type="slideshow" data-section-id="{{ section.id }}">
    {% for block in section.blocks %}
        
        <div class="carousel-cell h-full w-full flex flex-col relative" id="slide-{{forloop.index}}">
            <div class="w-full h-full absolute hero_image">
                <img src="{{ block.settings.slideshow_image | img_url: 'master' }}" id="desktop_slide_{{forloop.index}}" alt="Slide {{ forloop.index }}" class="w-full h-full absolute object-cover 
                {% if block.settings.slideshow_image_position == 'top' %}
                object-top
                {% elsif block.settings.slideshow_image_position == 'right' %}
                object-right
                {% elsif block.settings.slideshow_image_position == 'center' %}
                object-center
                {% elsif block.settings.slideshow_image_position == 'left' %}
                object-left
                {% elsif block.settings.slideshow_image_position == 'bottom' %}
                object-bottom
                {% endif %}
                ">
                {% unless block.settings.slideshow_image_mobile == blank %}
                    <img src="{{ block.settings.slideshow_image_mobile | img_url: 'master' }}" id="mobile_slide_{{forloop.index}}" alt="Mobile Slide {{ forloop.index }}" class="w-full h-full absolute object-cover 
                    {% if block.settings.slideshow_image_position == 'top' %}
                    object-top
                    {% elsif block.settings.slideshow_image_position == 'right' %}
                    object-right
                    {% elsif block.settings.slideshow_image_position == 'center' %}
                    object-center
                    {% elsif block.settings.slideshow_image_position == 'left' %}
                    object-left
                    {% elsif block.settings.slideshow_image_position == 'bottom' %}
                    object-bottom
                    {% endif %}
                    ">

                    <style>
                        @media only screen and (max-width: 768px) {
                            #desktop_slide_{{forloop.index}} {
                                display: none;
                            }
                        } 
                        @media only screen and (min-width: 768px) {
                            #mobile_slide_{{forloop.index}} {
                                display: none;
                            }
                        } 
                    </style>
                {% endunless %}

                <style>
                    :root {
                        --slide-text-color: {{ block.settings.slideshow_text_color }};
                    }
                    

                    .flickity-button {
                        color: var(--slide-text-color);
                    }
                </style>

                {% if section.settings.slideshow_overlay_enable == true %}
                <div class="w-full h-full absolute top-0" style="
                {% if section.settings.slideshow_overlay_style == 'solid' %}
                background-color: {{ section.settings.slideshow_overlay_color }}; 
                {% elsif section.settings.slideshow_overlay_style == 'gradient' %}
                background-image: linear-gradient(rgba(0,0,0,0), {{ section.settings.slideshow_overlay_color }});
                {% endif %}
                filter: opacity({{ section.settings.slideshow_overlay_opacity }}%);"></div>
                {% endif %}
            </div>
            <div class="w-full h-full flex flex-col 
            {% if block.settings.slideshow_text_position_horizontal == 'top-left' %}
            items-start justify-start text-left 
            {% elsif block.settings.slideshow_text_position_horizontal == 'top-center' %}
            items-center justify-start text-center 
            {% elsif block.settings.slideshow_text_position_horizontal == 'top-right' %}
            items-end justify-start text-right 
            {% elsif block.settings.slideshow_text_position_horizontal == 'center-left' %}
            items-start justify-center text-left 
            {% elsif block.settings.slideshow_text_position_horizontal == 'center' %}
            items-center justify-center text-center 
            {% elsif block.settings.slideshow_text_position_horizontal == 'center-right' %}
            items-end justify-center text-right 
            {% elsif block.settings.slideshow_text_position_horizontal == 'bottom-left' %}
            items-start justify-end text-left
            {% elsif block.settings.slideshow_text_position_horizontal == 'bottom-center' %}
            items-center justify-end text-center 
            {% elsif block.settings.slideshow_text_position_horizontal == 'bottom-right' %}
            items-end justify-end text-right 
            {% endif %}
            absolute px-8 py-12 md:p-12 lg:p-12">
                <div class="max-w-screen-sm absolute mx-auto hero_content">
                    <h1 class="heading-xl mb-4" style="color: {{ block.settings.slideshow_text_color }}">{{ block.settings.slideshow_heading }}</h1>
                    <h2 class="body-md mb-6" style="color: {{ block.settings.slideshow_text_color }}">{{ block.settings.slideshow_subheading }}</h2>
                    <div class="space-x-2">
                        {% if block.settings.slideshow_button_text != blank %}
                        <a href="{{ block.settings.slideshow_button_url }}" class="btn-lg 
                        {% if block.settings.slideshow_button_style == 'slideshow_button_style_primary' %}
                        btn-primary
                        {% elsif block.settings.slideshow_button_style == 'slideshow_button_style_secondary' %}
                        btn-secondary
                        {% endif %}">{{ block.settings.slideshow_button_text }}
                        </a>
                        {% endif %}
                        {% if block.settings.slideshow_second_button_text != blank %}
                            <a href="{{ block.settings.slideshow_second_button_url }}" class="btn-lg
                            {% if block.settings.slideshow_second_button_style == 'slideshow_second_button_style_primary' %}
                            btn-primary
                            {% elsif block.settings.slideshow_second_button_style == 'slideshow_second_button_style_secondary' %}
                            btn-secondary
                            {% endif %}">{{ block.settings.slideshow_second_button_text }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% javascript %}
function showAlert() {
    var elem = document.querySelector('.slideshow');
    var flkty = new Flickity( elem, {
    // options
    imagesLoaded: true,
    wrapAround: true,
    cellAlign: 'left',
    contain: true
    });
}

document.addEventListener("shopify:section:load", showAlert());
document.addEventListener("shopify:block:select", showAlert());
{% endjavascript %}

{% schema %}
{
    "name": "Slideshow",
    "max_blocks": 5,
    "blocks": [
        {
            "type": "slideshow",
            "name": "Slide",
            "settings": [
                {
                    "type": "header",
                    "content": "Image"
                },
                {
                    "type": "image_picker",
                    "id": "slideshow_image",
                    "label": "Image",
                    "info": "2048px width recommended"
                },
                {
                    "type": "image_picker",
                    "id": "slideshow_image_mobile",
                    "label": "Image mobile",
                    "info":  "Optional"
                },
                {
                    "type": "select",
                    "id": "slideshow_image_position",
                    "label": "Position",
                    "default": "center",
                    "options": [
                        {
                            "value": "top",
                            "label": "Top"
                        },
                        {
                            "value": "right",
                            "label": "Right"
                        },
                        {
                            "value": "center",
                            "label": "Center"
                        },
                        {
                            "value": "left",
                            "label": "Left"
                        },
                        {
                            "value": "bottom",
                            "label": "Bottom"
                        }
                    ]
                },
                {
                    "type": "header",
                    "content": "Text"
                },
                {
                    "type": "text",
                    "id": "slideshow_heading",
                    "label": "Heading"
                },
                {
                    "type": "textarea",
                    "id": "slideshow_subheading",
                    "label": "Subheading"
                },
                {
                    "type": "color",
                    "id": "slideshow_text_color",
                    "label": "Text color",
                    "default": "#ffffff"
                },
                {
                    "type": "select",
                    "id": "slideshow_text_position_horizontal",
                    "label": "Position",
                    "default": "center",
                    "options": [
                        {
                            "value": "top-left",
                            "label": "Top Left"
                        },
                        {
                            "value": "top-center",
                            "label": "Top Center"
                        },
                        {
                            "value": "top-right",
                            "label": "Top Right"
                        },
                        {
                            "value": "center-left",
                            "label": "Center Left"
                        },
                        {
                            "value": "center",
                            "label": "Center"
                        },
                        {
                            "value": "center-right",
                            "label": "Center Right"
                        },
                        {
                            "value": "bottom-left",
                            "label": "Bottom Left"
                        },
                        {
                            "value": "bottom-center",
                            "label": "Bottom Center"
                        },
                        {
                            "value": "bottom-right",
                            "label": "Bottom Right"
                        }
                    ]
                },
                {
                    "type": "header",
                    "content": "Buttons"
                },
                {
                    "type": "text",
                    "id": "slideshow_button_text",
                    "label": "Button text",
                    "default": "Shop now"
                },
                {
                    "type": "url",
                    "id": "slideshow_button_url",
                    "label": "Button URL"
                },
                {
                    "type": "select",
                    "id": "slideshow_button_style",
                    "label": "Button style",
                    "default": "slideshow_button_style_primary",
                    "options": [
                        {
                            "value": "slideshow_button_style_primary",
                            "label": "Primary"
                        },
                        {
                            "value": "slideshow_button_style_secondary",
                            "label": "Secondary"
                        }
                    ]
                },
                {
                    "type": "text",
                    "id": "slideshow_second_button_text",
                    "label": "Second button text",
                    "default": "View collection"
                },
                {
                    "type": "url",
                    "id": "slideshow_second_button_url",
                    "label": "Second button URL"
                },
                {
                    "type": "select",
                    "id": "slideshow_second_button_style",
                    "label": "Second button style",
                    "default": "slideshow_second_button_style_secondary",
                    "options": [
                        {
                            "value": "slideshow_second_button_style_primary",
                            "label": "Primary"
                        },
                        {
                            "value": "slideshow_second_button_style_secondary",
                            "label": "Secondary"
                        }
                    ]
                }
            ]
        }
    ],
    "settings": [
        {
            "type": "header",
            "content": "Layout"
        },
        {
            "type": "select",
            "id": "slideshow_width",
            "label": "Slideshow width",
            "default": "full_width",
            "options": [
                {
                    "value": "full_width",
                    "label": "Full width"
                },
                {
                    "value": "content_width",
                    "label": "Content width"
                }
            ]
        },
        {
            "type": "select",
            "id": "slideshow_height",
            "label": "Slideshow height desktop",
            "default": "large",
            "options": [
                {
                    "value": "small",
                    "label": "Small"
                },
                {
                    "value": "medium",
                    "label": "Medium"
                },
                {
                    "value": "large",
                    "label": "Large"
                },
                {
                    "value": "fit_screen",
                    "label": "Fit screen"
                }
            ]
        },
        {
            "type": "select",
            "id": "slideshow_height_mobile",
            "label": "Slideshow height mobile",
            "default": "large",
            "options": [
                {
                    "value": "small",
                    "label": "Small"
                },
                {
                    "value": "medium",
                    "label": "Medium"
                },
                {
                    "value": "large",
                    "label": "Large"
                },
                {
                    "value": "extra_large",
                    "label": "Extra large"
                },
                {
                    "value": "fit_screen",
                    "label": "Fit screen"
                }
            ]
        },
        {
            "type": "header",
            "content": "Overlay"
        },
        {
            "type": "checkbox",
            "default": true,
            "id": "slideshow_overlay_enable",
            "label": "Activate overlay"
            
        },
        {
            "type": "range",
            "id": "slideshow_overlay_opacity",
            "label": "Overlay opacity",
            "min": 1,
            "max": 100,
            "step": 1,
            "default": 30,
            "unit": "%"
        },
        {
            "type": "select",
            "id": "slideshow_overlay_style",
            "label": "Overlay style",
            "default": "solid",
            "options": [
                {
                    "value": "solid",
                    "label": "Solid"
                },
                {
                    "value": "gradient",
                    "label": "Gradient"
                }
                
            ]
        },
        {
            "type": "color",
            "id": "slideshow_overlay_color",
            "label": "Overlay color",
            "default": "#222222"
        },
        {
            "type": "header",
            "content": "Autoplay"
        },
        {
            "type": "checkbox",
            "id": "slideshow_autoplay_activate",
            "label": "Activate autoplay"
        },
        {
            "type": "range",
            "id": "slideshow_autoplay_duration",
            "label": "Autoplay slide duration",
            "min": 5,
            "max": 12,
            "step": 1,
            "default": 5,
            "unit": "sec"
        }
    ],
    "presets": [
        {
            "category": "Image",
            "name":"Slideshow"
        }
    ]
}
{% endschema %}