<div class="video">
    <div class="video__header">
        <h2 class="video__heading">{{ section.settings.collection_heading }}</h2>
    </div>
    <div class="video__content"​​​​​​>
        <div class="video__mask {% if section.settings.video_aspect == '16-9' %} aspect-w-16 aspect-h-9 {% elsif section.settings.video_aspect == '21-9' %} aspect-w-21 aspect-h-9 {% endif %}">
            <a class="video__link" href="" id="play-video">
             {% if section.settings.video_thumbnail == blank %}
                {{ 'image' | placeholder_svg_tag: 'absolute h-full w-full bg-gray-200' }}
              {% else %}
                <img class="video__thumbnail" src="{{ section.settings.video_thumbnail | img_url: 'master' }}" alt="{{ shop.name }}">
              {% endif %}
                <div class="video__play-icon">
                    <span aria-hidden="true" class="icon icon-play-circle"></span>
                </div>
            </a> 
        </div>
        <div class="video__image" id="player"></div>
    </div>
</div>

<script type="text/javascript">
    function youtube_parser(url){
        var regExp = /.*(?:youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=)([^#\&\?]*).*/;
        var match = url.match(regExp);
        return (match&&match[1].length==11)? match[1] : false;
    }

    var tag = document.createElement('script');
    tag.src = "//www.youtube.com/player_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var videoYTid = youtube_parser("{{ section.settings.video_id }}");
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
        videoId: videoYTid
        });
    }
</script>

{% schema %}
{
    "name": "Video",
    "settings": [
      {
          "type": "text",
          "id": "collection_heading",
          "label": "Heading",
          "default": "Designs the whole family can enjoy"
      },
      {
          "type": "image_picker",
          "id": "video_thumbnail",
          "label": "Thumbnail"
      },
      {
          "type": "select",
          "id": "video_aspect",
          "label": "Aspect ratio",
          "options": [
            {
                "value": "16-9",
                "label": "16:9"
            },
            {
                "value": "21-9",
                "label": "21:9"
            }
          ]
      },
      {
        "type": "text",
        "id": "video_id",
        "label": "Video URL"
      }
    ],
    "presets": [
        {
            "category": "Video",
            "name":"Video"
        }
    ]
  }
{% endschema %}